<template>
  <layout title="Edit Exam">
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link class="text-indigo-light hover:text-indigo-dark" :href="path('exams')">Exams</inertia-link>
      <span class="text-indigo-light font-medium">/</span>
      {{ form.name }}
    </h1>
    <div class="bg-white rounded shadow overflow-hidden max-w-lg">
      <form @submit.prevent="submit">
        <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
          <div class="pr-6 pb-8 w-full">
            <el-input v-model="form.name" placeholder="Exam Title" class="w-full"></el-input>
          </div>
          <div class="pr-6 pb-8 w-full lg:w-1/2">
            <el-input v-model="form.marks" placeholder="Maximum Marks" class="w-full"></el-input>
          </div>
          <div class="pr-6 pb-8 w-full lg:w-1/2">
            <el-select v-model="form.package_id" placeholder="Select Package" class="w-full">
              <el-option v-for="(pkg,index) in $page.packages" :key="index" :label="pkg.name" :value="pkg.id"></el-option>
            </el-select>
          </div>
          <div class="pr-6 pb-8 w-full lg:w-1/2">
            <label class="block uppercase tracking-wide text-grey-dark text-xs font-medium mb-3">Exam Subjects</label>
            <el-select v-model="form.subjects_ids" multiple collapse-tags placeholder="Select Subject" class="w-full" @change="reFilter">
              <el-option v-for="subject in subjects" :key="subject.wp_id" :label="subject.name" :value="subject.wp_id"></el-option>
            </el-select>
          </div>
          <div class="pr-6 pb-8 w-full lg:w-1/2">
            <label class="block uppercase tracking-wide text-grey-dark text-xs font-medium mb-3">Eam Topics</label>
            <el-select v-model="form.topics_ids" multiple collapse-tags placeholder="Select Topics" class="w-full">
              <el-option v-for="topic in filtertedTopics" :key="topic.wp_id" :label="topic.name" :value="topic.wp_id"></el-option>
            </el-select>
          </div>
          <div class="pr-6 pb-8 w-full lg:w-1/3">
            <label class="block uppercase tracking-wide text-grey-dark text-xs font-medium mb-3">Exam Duration (HH:MM)</label>
            <el-time-select placeholder="Exam Duration"
              v-model="form.time"
              :picker-options="{
                start: '00:15',
                step: '00:05',
                end: '4:00'
              }" class="w-full">
            </el-time-select>
          </div>
          <div class="pr-6 pb-8 w-full lg:w-1/3">
            <label class="block uppercase tracking-wide text-grey-dark text-xs font-medium mb-3">Start Date</label>
            <el-date-picker class="w-full" format="MMM dd yyyy, hh:mm A" v-model="form.start" type="datetime" placeholder="Select Schedule" :picker-options="datePickerOptions">
            </el-date-picker>
          </div>
          <div class="pr-6 pb-8 w-full lg:w-1/3">
            <label class="block uppercase tracking-wide text-grey-dark text-xs font-medium mb-3">Expiry Date</label>
            <el-date-picker class="w-full" format="MMM dd yyyy, hh:mm A" v-model="form.expiry" type="datetime" placeholder="Select Expiry" :picker-options="datePickerOptions">
            </el-date-picker>
          </div>
          <div class="pr-6 pb-8 w-full lg:w-1/2">
            <label class="block uppercase tracking-wide text-grey-dark text-xs font-medium mb-3">Exam Status</label>
            <el-select v-model="form.status" placeholder="Select Status" class="w-full">
              <el-option v-for="s in status" :key="s.value" :label="s.label" :value="s.value"></el-option>
            </el-select>
          </div>
          <div class="pr-6 pb-8 w-full lg:w-1/2">
            <label class="block uppercase tracking-wide text-grey-dark text-xs font-medium mb-3">Exam Type</label>
            <el-select v-model="form.speedtest" class="w-full">
              <el-option key="exam" label="Main Exam" value="false"></el-option>
              <el-option key="speedtest" label="Speed Test" value="true"></el-option>
            </el-select>
          </div>
          <div class="pr-6 pb-8 w-full" v-if="form.specific">
            <label class="block uppercase tracking-wide text-grey-dark text-xs font-medium mb-3">Select Student</label>
            <el-select v-model="form.students" multiple filterable remote reserve-keyword placeholder="Enter Student Name"
              :remote-method="searchStudent"
              :loading="loading" class="w-full">
              <el-option v-for="student in students" :key="student.id" :label="student.name" :value="student.id" ></el-option>
            </el-select>
          </div>
        </div>
        <div class="px-8 py-4 bg-grey-lightest border-t border-grey-lighter flex justify-between items-center mt-5">
          <div>
            <p class="mr-3 font-medium inline-block">Student Specific?</p>
            <el-switch v-model="form.specific" active-text="Yes" inactive-text="No"></el-switch>
          </div>
          <div><loading-button :loading="sending" class="btn-indigo" type="submit">Update Exam</loading-button></div>
        </div>
      </form>
    </div>
  </layout>
</template>

<script>
import Layout from '@/Shared/Layout'
import LoadingButton from '@/Shared/LoadingButton'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'
import TrashedMessage from '@/Shared/TrashedMessage'

export default {
  components: {
    Layout,
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
  },
  props: {
    exam: Object,
    subjects: Array,
    topics: Array,
  },
  remember: 'form',
  data() {
    return {
      sending: false,
      loading: false,
      students : [],
      status : [
        {
          value : 'live',
          label : 'Live'
        },{
          value : 'draft',
          label : 'Draft'
        }
      ],
      datePickerOptions: {
        disabledDate: (time) => {
            //return time.getTime() < Date.now();
        }
      },
      form: {
        name: this.exam.name,
        time: this.exam.time,
        marks: this.exam.marks,
        package_id: this.exam.package_id,
        subjects_ids: this.exam.subjects_ids,
        topics_ids : this.exam.topics_ids,
        status : this.exam.status,
        expiry : this.exam.expiry,
        students : this.exam.students,
        specific : this.exam.specific,
        speedtest : this.exam.is_speed_test,
        start : this.exam.start
      }
    }
  },
  mounted(){
    console.log(this.exam);
    console.log(this.form);
  },
  computed :{
    filtertedTopics : function(){
      let $this = this;
      if($this.form.subjects_ids !== null ){
        let ids = $this.subjects.filter(item => $this.form.subjects_ids.indexOf(item.wp_id) > -1 ).map(item=>item.id);
        return $this.topics.filter( item => ids.indexOf(item.subject_id) > -1);
      } 
    }
  },
  methods: {
    reFilter(){
      this.filtertedTopics;
    },
    searchStudent(query) {
      axios.get('/search/students?query=' + query)
      .then(response => {
        //console.log(response)
        this.students = response.data
        //console.log(this.students)
      })
      .catch(error => {
        console.log(error)
      })
    },
    validateNull(obj) {
        for (var prop in obj) {

          if(prop == 'questions_ids' || prop == 'students' || prop == 'specific' )
            continue;

          if (obj[prop] == null || obj[prop] == ""){
            console.log(prop)
            return true;
          }
        }
        return false;
    },
    submit() {
      console.log(this.form);
      if(this.validateNull(this.form)){
        this.$message({
          showClose: true,
          message: 'Please Fill all the fields before submitting.',
          type: 'warning'
        });
        return
      }
      this.sending = true
      this.$inertia.put(this.path('exams.update', this.exam.id), this.form)
        .then(() => this.sending = false)
    }
  },
}
</script>
