<template>
  <layout title="Exams">
    <h1 class="mb-8 font-bold text-3xl">Exams</h1>
    <div class="mb-6 flex justify-between items-center">
      <inertia-link class="btn-indigo" :href="path('exams.create')" style="min-width:250px">
        <span>New</span><span class="hidden md:inline"> Exam</span>
      </inertia-link>
      <div class="flex justify-end">
        <el-select v-model="form.subjects" multiple collapse-tags style="margin-right: 20px;" placeholder="Subject" @change="search">
          <el-option v-for="item in filterSubs" :key="item.id" :label="item.text" :value="item.id"></el-option>
        </el-select>
        <el-select v-model="form.topics" multiple collapse-tags style="margin-right: 20px;" placeholder="Topics" @change="search">
          <el-option v-for="item in filtertedTopics" :key="item.id" :label="item.text" :value="item.id"></el-option>
        </el-select>
        <search-filter v-model="form.search" class="w-full max-w-xs" @reset="reset" @search="search"></search-filter>
      </div>
    </div>
    <div class="bg-white rounded shadow overflow-x-auto">
      <el-table :data="tableData" style="width: 100%;padding:0px 15px;">
        <el-table-column type="index" width="50"></el-table-column>
        <el-table-column label="Name" prop="name" sortable></el-table-column>
        <el-table-column label="Exam Start" prop="start" width="180" sortable></el-table-column>
        <el-table-column label="Status" prop="status" width="100">
          <template slot-scope="scope">
            <span :class="(scope.row.status == 'live') ? 'text-green' : 'text-red'" class="uppercase">{{scope.row.expiry && scope.row.status != 'draft' ? 'Expired' : scope.row.status }}</span>    
          </template>
        </el-table-column>
        <el-table-column label="Duration" prop="time" width="200"></el-table-column>
        <el-table-column label="Marks" prop="marks" width="100"></el-table-column>
        <el-table-column label="Operations" width="250">
          <template slot-scope="scope">
            <el-button size="mini">
              <inertia-link :href="path('exams.edit', scope.row.id)" tabindex="-1">Edit
              </inertia-link>
            </el-button>
            <el-button size="mini"><inertia-link :href="path('exams.show', scope.row.id)" tabindex="-1">View</inertia-link></el-button>
            <el-button size="mini" type="danger" icon="el-icon-delete" @click="removeExam(scope.row.id)"></el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <pagination :links="exams.links" />
  </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'

export default {
  components: {
    Icon,
    Layout,
    Pagination,
    SearchFilter,
  },
  props: {
    exams: Object,
    filters: Object,
    packages : Array,
    subjects : Array,
    topics : Array
  },
  data() {
    return {
      tableData : [],
      filterSubs : [],
      filterTopics:[],
      form: {
        search: this.filters.search,
        topics : this.filters.topics,
        subjects : this.filters.subjects
      },
    }
  },
  mounted(){
    if(this.filters.subjects != null){
      this.form.subjects = this.filters.subjects.split(',').map(Number)
    }
    if(this.filters.topics != null){
      this.form.topics = this.filters.topics.split(',').map(Number)
    }

    //console.log(this.exams);

    if(this.exams) this.fetchData();
  },
  watch: {
    // form: {
    //   handler: _.throttle(function() {
    //     let query = _.pickBy(this.form)
    //     //console.log(query);
    //     this.$inertia.replace(this.path('exams', Object.keys(query).length ? query : { remember: 'forget' }), {
    //       only: ['exams']
    //     })

    //     //this.$inertia.visit(this.path('exams', Object.keys(query).length ? query : { remember: 'forget' }))
    //   }, 150),
    //   deep: true,
    // },
  },
  computed :{
    filtertedTopics : function(){
      let $this = this;
      if($this.form.subjects !== null ){
        let ids = $this.subjects.filter(item => $this.form.subjects.indexOf(item.wp_id) > -1 ).map(item=>item.id);
        return $this.filterTopics.filter( item => ids.indexOf(item.subject) > -1);
      } 
    }
  },
  methods: {
    fetchData(){

      let $this = this;

      _.forEach($this.exams.data,function(data){

          let sid = data.subjects_ids;
          let tid = data.topics_ids;

          let subjects = _.filter($this.subjects, function(o) { 
              return sid.includes(o.wp_id)
          }).map(a => a.name);

          let topics = _.filter($this.topics, function(o) { 
              tid = tid.map(Number);
              return tid.includes(o.wp_id)
          }).map(a => a.name);

          if(data.time){
            let t = data.time.split(':')
            let hour = parseInt(t[0])
            let minutes = parseInt(t[1])
            if(hour < 1)
              data.time = minutes + ' minutes'
            else if( minutes > 0)
              data.time = hour + ' hour '+minutes + ' minutes'
            else
              data.time = hour + ' hour '
          } else{
            data.time = ''
          }
          data.subjects = subjects;
          data.topics = topics;
          $this.tableData.push(data);
      })

      //Get Filter Subjects List
      _.forEach($this.subjects,function(data){
        $this.filterSubs.push({ 'text': data.name, 'value' : data.name, 'id' : data.wp_id });
      })

      //Get Filter Topics List
      _.forEach($this.topics,function(data){
        $this.filterTopics.push({ 'text': data.name, 'value' : data.name, 'id' : data.wp_id , 'subject' : data.subject_id});
      })

      //this.filtertedTopics

      //console.log($this.filterTopics);

    },
    filterSub(value, row) {
      return row.subjects.includes(value);
    },
    filterTopic(value, row) {
      return row.topics.includes(value);
    },
    reset() {
      this.form = _.mapValues(this.form, () => null)
      let query = _.pickBy(this.form)
      this.$inertia.visit(this.path('exams', Object.keys(query).length ? query : { remember: 'forget' }))
    },
    search() {
      let query = _.pickBy(this.form)
      this.$inertia.visit(this.path('exams', Object.keys(query).length ? query : { remember: 'forget' }))
    },
    removeExam(id) {
      this.$confirm('This will permanently delete the Exam. Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        this.$inertia.delete(this.path('exam.destroy',id))
        this.$message({
          type: 'info',
          message: 'Deleting..'
        });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Delete canceled'
        });          
      })
    }
  },
}
</script>
