<template>
  <layout title="All Exams">
    <h1 class="mb-8 font-bold text-3xl flex justify-between">
      <span>
        <inertia-link class="text-indigo-light hover:text-indigo-dark" :href="path('exams')">Exams</inertia-link>
        <span class="text-indigo-light font-medium">/</span>
        {{ exam.name }}
      </span>
      <span>
        <button v-if="showRemove" class="inline-block btn-indigo mr-4 " @click="removeSelection">Remove Questions</button>
        <button class="inline-block btn-indigo" @click="qdialog = true">Add Questions</button>
        <div class="inline-block ml-2">
          <span v-if="exam.status == 'draft' && questions.data.length > 5" class="ml-3 text-sm text-grey-dark hover:text-grey-darker focus:text-indigo font-normal cursor-pointer" @click="publishExam">Publish Exam</span>
          <inertia-link class="ml-3 text-sm text-grey-dark hover:text-grey-darker focus:text-indigo font-normal cursor-pointer" :href="path('exams.edit',exam.id)">Edit</inertia-link>
        </div>
      </span>
      
    </h1>
    <div class="bg-white rounded shadow overflow-x-auto">
      <el-table :data="questions.data" style="width: 100%;padding:0px 15px;" @selection-change="handleRemovalSelection">
        <el-table-column type="expand">
          <template slot-scope="props">
            <div class="block w-full mb-2 list-disc text-base pl-20 ml-8">
              <p class="mb-5 font-medium">Options:</p>
              <ol class="block pl-4 mb-5">
                <li class="mb-3" v-for="(option, index) in props.row.options" :key="index" v-html="props.row.options[index]"></li>
              </ol>
              <p class="mb-5 font-medium">Answer:</p>>
              <div v-if="Array.isArray(props.row.answer)" >
                <p class="mb-3" v-for="(a, i) in props.row.answer" :key="i" v-html="props.row.options[a]"></p>
              </div>
              <div v-else>
                <p class="mb-3" v-html="props.row.options[props.row.answer]"></p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column type="index" width="50"></el-table-column>
        <el-table-column label="Question" sortable>
          <template slot-scope="scope">
            <p v-html="scope.row.question"></p>
          </template>
        </el-table-column>
        <el-table-column label="Solution" width="100">
          <template slot-scope="scope">
              <i :class=" scope.row.solution == true ? 'el-icon-circle-check text-green text-2xl' : 'text-2xl el-icon-circle-close text-red' "/>
          </template>
        </el-table-column>
        <el-table-column label="Operations" width="200">
          <template slot-scope="scope">
            <el-button size="mini">
              <inertia-link :href="path('question-bank.edit', scope.row.id)" tabindex="-1">Edit
              </inertia-link>
            </el-button>
            <el-button size="mini">
            <inertia-link :href="path('question-bank.show', scope.row.id)" tabindex="-1">Solution
              </inertia-link>
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <pagination :links="questions.links" />

    <el-dialog 
      ref="questionTable"
      :close-on-click-modal="false" 
      :close-on-press-escape="false" 
      :show-close="false"
      :lock-scroll="true"
      :fullscreen="true"
      @opened="getTableHeight"
      class="dialog-custom"
      title="Select Questions to add in Exam" :visible.sync="qdialog" width="70%" center>
        <el-table :height="tableHeight" :data="tableData" element-loading-text="Saving... Please Wait" v-loading="saving" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="55"></el-table-column>
          <el-table-column type="index" width="50"></el-table-column>
          <el-table-column label="Question" sortable>
            <template slot-scope="scope">
              <p v-html="scope.row.question"></p>
            </template>
          </el-table-column>
          <el-table-column label="Subject" prop="subject" width="120"
            :filters="filterSubs"
            :filter-method="filterSub"
            filter-placement="bottom-end">
            <template slot-scope="scope">
              <el-tag type="primary">{{scope.row.subject}}</el-tag>
            </template>
          </el-table-column>
          <el-table-column label="Topics" width="220" prop="topics"
            :filters="filterTopics"
            :filter-method="filterTopic"
            filter-placement="bottom-end">
            <template slot-scope="scope">
              <el-button size="mini">
                <inertia-link :href="path('question-bank.edit', scope.row.id)" tabindex="-1">Edit
                </inertia-link>
              </el-button>
              <el-button size="mini">
              <inertia-link :href="path('question-bank.show', scope.row.id)" tabindex="-1">View
                </inertia-link>
              </el-button>
              <el-button size="mini" type="danger" icon="el-icon-delete" @click="removeQuestion(scope.row.id)"></el-button>
            </template>
          </el-table-column>
        </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="saveSelection">Save Selection</el-button>
        <el-button @click="loadMoreQuestions">Load More Questions</el-button>
        <el-button @click="closeDialog">Cancel</el-button>
      </span>
    </el-dialog>

  </layout>
</template>

<script>
import _ from 'lodash'
import axios from 'axios'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import Dropdown from '@/Shared/Dropdown'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'
import LoadingButton from '@/Shared/LoadingButton'

export default {
  components: {
    Layout,
    Icon,
    Pagination,
    LoadingButton,
    Dropdown
  },
  props: {
    exam : Object,
    questions: Object,
    filters: Object,
    newquestions : Array,
    topics : Array,
    subjects : Array
  },
  remember: 'form',
  data() {
    return {
      questionsList : '',
      qdialog : false,
      data :{
        selectedQuestions : [], 
        selectedQuestionsIds : [],
        removalQs : [],
        removalQids : []
      },
      saving : false,
      removal : false,
      showRemove : false,
      tableData : [],
      filterData : [],
      filterSubs : [],
      filterTopics:[],
      tableHeight : '95vh'
    }
  },
  mounted(){
    //console.log(this.newquestions);
    if(this.newquestions) this.fetchData(this.newquestions);
    this.fetchFilters();
  },
  methods:{
    getTableHeight(){
      let dialogHeight = document.querySelector(".dialog-custom .el-dialog").offsetHeight;
      let headerHeight = document.querySelector(".dialog-custom .el-dialog__header").offsetHeight;
      let footerHeight = document.querySelector(".dialog-custom .el-dialog__footer").offsetHeight;
      return this.tableHeight =  dialogHeight - (headerHeight + footerHeight) + 'px';
    },
    loadMoreQuestions(){
      //this.qlimit++;
      let existing_ids = _.map(this.tableData, 'id');
      //console.log(existing_ids);
      axios.post('/questions', {
        ids : existing_ids,
        exam_id : this.exam.id
      }).then((response) => {
        let questions = response.data.questions;
        this.fetchData(questions)
      })
      .catch((e) => {
        console.error(e)
      })
    },
    fetchData($questions){
      let $this = this;

      _.forEach($questions ,function(data){

        let sid = data.subject_id;
        let tid = data.topics_ids;

        let subject = _.filter($this.subjects, function(o) { 
            return sid == o.id
        }).map(a => a.name);

        let topics = _.filter($this.topics, function(o) { 
            return tid.includes(o.id)
        }).map(a => a.name);

        data.subject = subject[0];
        data.topics = topics;

        $this.tableData.push(data);

      })
    },
    fetchFilters(){
      let $this = this;
      //Get Filter Subjects List
      _.forEach($this.subjects,function(data){
        $this.filterSubs.push({ 'text': data.name, 'value' : data.name });
      })

      //Get Filter Topics List
      _.forEach($this.topics,function(data){
        $this.filterTopics.push({ 'text': data.name, 'value' : data.name });
      })
    },
    filterSub(value, row) {
      return row.subject === value;
    },
    filterTopic(value, row) {
      return row.topics.includes(value);
    },
    handleSelectionChange(value) {
      this.data.selectedQuestions = value;
      this.data.selectedQuestionsIds = this.data.selectedQuestions.map( v => v.id);
    },
    handleRemovalSelection(value){
      this.data.removalQs = value;
      this.data.removalQids = this.data.removalQs.map( v => v.id);
      if(this.data.removalQids.length > 0){
        this.showRemove = true 
      }else{
        this.showRemove = false 
      }
    },
    closeDialog(){
      this.qdialog = false
      this.data.selectedQuestions = []
      this.data.selectedQuestionsIds = []
    },
    afterSave(){
      this.saving = this.qdialog = false
      this.data.selectedQuestionsIds = []
      this.$inertia.visit(this.path('exams.show', this.exam.id));
    },
    saveSelection() {
      this.saving = true
      this.$inertia.put(this.path('exams.update', this.exam.id),this.data).then(() => this.afterSave() )
    },
    removeSelection() {
      this.$confirm('This will remove selected questions from this Exam. Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        this.$inertia.put(this.path('exams.update', this.exam.id),this.data).then(() => this.removal = false)
        this.$message({
          type: 'info',
          message: 'Deleting..'
        });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Delete canceled'
        });          
      })
    },
    publishExam() {
      this.$inertia.put(this.path('exams.publish', this.exam.id))
    },
  }
}
</script>

<style>
.dialog-custom,.dialog-custom .el-dialog{
  max-height: 100vh;
  overflow: hidden !important;
}
.el-dialog__wrapper.dialog-custom{
  padding: 50px !important;
}
.el-dialog__wrapper.dialog-custom .el-scrollbar__view {
    max-height: calc( 100vh - 248px);
}
.el-dialog__wrapper.dialog-custom .el-dialog__footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fbfbfb;
    padding: 15px;
    border-top: 1px solid #eee;
}
.el-dialog--center .el-dialog__body {
    padding: 0px 25px 0px !important;
}
</style>