<template>
  <layout title="Purchases">
    <div class="bg-white rounded shadow overflow-x-auto p-6">
      <h1 class="mb-8 font-bold text-3xl mb-6 px-4">Purchases</h1>
      <el-table :data="purchasesData" style="width: 100%;padding:0px 15px;">
        <el-table-column type="index" width="50"></el-table-column>
        <el-table-column label="Name" prop="name" sortable></el-table-column>
        <el-table-column label="Purchased On" prop="purchased_on"></el-table-column>
      </el-table>
    </div>
  </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Student/Layout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'

export default {
  components: {
    Icon,
    Layout,
    Pagination,
    SearchFilter,
  },
  props: {
    purchases: Array,
    packages: Array
  },
  data() {
    return {
      purchasesData : []
    }
  },
  mounted(){
    this.purchases.forEach(data => {
      
      let pid = data.package_id;
      let pkg = this.packages.filter(obj => {
        return pid === obj.wp_id
      })
      data.name = pkg[0].name
      this.purchasesData.push(data);
    })
  },
  watch: {

  },
  methods: {
    
  }
}
</script>
<style scoped>
h3{
  display:block;
  font-size:18px;
  font-weight:600;
  line-height:24px;
  margin:0 0 15px;
}
.image{
  display:block;
  width:100%;
  padding-bottom: 275px;
  background-size: cover;
  background-position: center;
  overflow:hidden;
}
</style>
