<template>
  <layout title="Package Details">
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link class="text-indigo-light hover:text-indigo-dark" :href="path('packages')">Packages</inertia-link>
      <span class="text-indigo-light font-medium">/</span> {{title}}
    </h1>
    <div class="bg-white rounded shadow overflow-x-auto">
      <el-table :data="tableData" style="width: 100%;padding:0px 15px;">
        <el-table-column type="index" width="50"></el-table-column>
        <el-table-column label="Exams" prop="name" sortable></el-table-column>
        <el-table-column label="Marks" prop="marks" width="100"></el-table-column>
        <el-table-column label="Subject" prop="subject" width="200"
          :filters="filterSubs"
          :filter-method="filterSub"
          filter-placement="bottom-end">
          <template slot-scope="scope">
            <el-button size="mini">
              <inertia-link :href="path('exams.edit', scope.row.id)" tabindex="-1">Edit
              </inertia-link>
            </el-button>
          </template>
        </el-table-column>
        <el-table-column label="Topics" width="250" prop="topics"
          :filters="filterTopics"
          :filter-method="filterTopic"
          filter-placement="bottom-end">
          <template slot-scope="scope">
            <el-button size="mini">
            <inertia-link :href="path('exams.show', scope.row.id)" tabindex="-1">View
              </inertia-link>
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'

export default {
  components: {
    Icon,
    Layout,
    Pagination,
    SearchFilter,
  },
  props: {
    title : String,
    exams: Array,
    subjects : Array,
    topics : Array
  },
  data() {
    return {
      tableData : [],
      filterData : [],
      filterSubs : [],
      filterTopics:[]
    }
  },
  mounted(){

    if(this.exams){
      this.exams.forEach(data => {
        var sid = data.subjects_ids;
        var tid = data.topics_ids;

        var subjects = this.subjects.filter(obj => {
          sid = sid.map(Number);
          return sid.includes(obj.wp_id)
        })

        var topics = this.topics.filter(obj => {
          tid = tid.map(Number);
          return tid.includes(obj.wp_id)
        })

        topics = topics.map(a => a.name);
        subjects = subjects.map(a => a.name);

        data.subject = subjects;
        data.topics = topics;

        this.tableData.push(data);
      })
    }

    this.subjects.forEach(data =>{
      this.filterSubs.push({ 'text': data.name, 'value' : data.name });
    });

    this.topics.forEach(data =>{
      this.filterTopics.push({ 'text': data.name, 'value' : data.name });
    });
    
  },
  watch: {
    
  },
  methods: {
    filterSub(value, row) {
      return row.subject === value;
    },
    filterTopic(value, row) {
      return row.topic === value;
    }
  },
}
</script>
