<template>
  <layout title="Create Course">
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link class="text-indigo-light hover:text-indigo-dark" :href="path('dashboard')">{{form.name}}</inertia-link>
      <span class="text-indigo-light font-medium">/</span> Edit
    </h1>
    <div class="bg-white rounded shadow overflow-hidden max-w-lg">
      <form @submit.prevent="submit">
        <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
          <select-input v-model="form.course_id" :errors="$page.errors.course_id" class="pr-6 pb-8 w-full lg:w-1/2" label="Course">
            <option selected>Select Course</option>
            <option v-for="(course,index) in courses" :value="`${course.id}`" :key="index">{{ course.name }}</option>
          </select-input> 
          <text-input v-model="form.name" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Course Title" required/>
        </div>
        <div class="px-8 py-4 bg-grey-lightest border-t border-grey-lighter flex justify-end items-center mt-5">
          <loading-button :loading="sending" class="btn-indigo" type="submit">Update Subject</loading-button>
        </div>
      </form>
    </div>
  </layout>
</template>

<script>
import Layout from '@/Shared/Layout'
import LoadingButton from '@/Shared/LoadingButton'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'

export default {
  components: {
    Layout,
    LoadingButton,
    SelectInput,
    TextInput,
  },
  props: {
    courses : Object,
    subject : Object
  },
  remember: 'form',
  data() {
    return {
      sending: false,
      form: {
        id: this.subject.id,
        name: this.subject.name,
        course_id : this.subject.course_id
      }
    }
  },
  mounted(){
    console.log(this.course)
  },
  methods: {
    submit() {
      this.sending = true
      this.$inertia.post(this.path('subjects.store', this.subject.id), this.form)
        .then(() => this.sending = false)
    },
  },
}
</script>
