<template>
  <layout title="Reports">
      <h1 class="mb-8 font-bold text-3xl mb-6 px-4">Reports</h1>
      <div class="mb-6 flex justify-between items-center">
        <div></div>
        <div class="flex justify-end">
          <el-date-picker
            v-model="form.date"
            type="daterange"
            range-separator="To"
            start-placeholder="Start date"
            end-placeholder="End date"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            :picker-options="pickerOptions">
          </el-date-picker>
          <el-select v-model="form.package" style="margin: 0 20px;" placeholder="Packages" @change="search">
            <el-option v-for="item in packages" :key="item.id" :label="item.name" :value="item.id"></el-option>
          </el-select>
          <search-filter v-model="form.search" class="w-full max-w-xs" @reset="reset" @search="search"></search-filter>
        </div>
      </div>
      <div class="bg-white rounded shadow overflow-x-auto p-6">
        <el-table :data="resultsData" style="width: 100%;padding:0px 15px;">
          <el-table-column type="index" width="50"></el-table-column>
          <el-table-column label="Exam Name" prop="name" sortable></el-table-column>
           <el-table-column label="Username" prop="username" sortable></el-table-column>
          <el-table-column label="Taken On" prop="taken_on" sortable></el-table-column>
          <el-table-column label="Attempts" prop="attempts" sortable></el-table-column>
          <el-table-column label="Latest Attempt Score" prop="score" sortable></el-table-column>
          <el-table-column label="Report">
             <template slot-scope="scope">
              <el-button size="mini">
                <inertia-link :href="path('result.show', scope.row.report_id)" tabindex="-1">View Report
                </inertia-link>
              </el-button>
             </template>
          </el-table-column>
        </el-table>
      </div>
  </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'

export default {
  components: {
    Icon,
    Layout,
    Pagination,
    SearchFilter,
  },
  props: ['results','exams','filters','packages'],
  data() {
    return {
      resultsData : [],
      form: {
        search: this.filters.search,
        from : this.filters.from,
        to : this.filters.to,
        date : '',
        package : this.filters.package
      },
      pickerOptions: {
          shortcuts: [{
            text: 'Last week',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last month',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last 3 months',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        }
    }
  },
  mounted(){
    this.loadData();
  },
  watch: {
    // form: {
    //   handler: _.throttle(function() {
    //     let query = _.pickBy(this.form)
    //     this.$inertia.visit(this.path('reports', Object.keys(query).length ? query : ''))
    //     this.loadData();
    //   }, 150),
    //   deep: true,
    // },
  },
  methods: {
    loadData(){
      let $this = this;
      $this.resultsData.splice(0, $this.resultsData.length)
      //console.log(this.results)
      _.map(this.results, function(data, key) {
        let x = {};
        x.name = data[0].exam_name;
        x.attempts = data.length;
        x.taken_on = data[0].taken_on;
        x.username = data[0].username;
        x.score = data[0].score;
        x.report_id = data[0].report_id;
        $this.resultsData.push(x);
      })
    },
    logdate(){
      //console.log(this.form.date)      
    },
    reset() {
      this.form = _.mapValues(this.form, () => null)
      let query = _.pickBy(this.form)
      this.$inertia.visit(this.path('reports', Object.keys(query).length ? query : { remember: 'forget' }))
    },
    search() {
      let query = _.pickBy(this.form)
      this.$inertia.visit(this.path('reports', Object.keys(query).length ? query : { remember: 'forget' }))
    }
  }
}
</script>
<style>
.el-range-separator {
  width: 10% !important;
}
</style>
