<template>
  <layout title="Dashboard">
    <div class="block relative w-full mb-12">
      <VueSlickCarousel  v-bind="settings" class="relative -mx-2" v-if="banners.length">
        <div v-for="url in banners" :key="url">
          <a href="https://uppariksha.com" target="_blank" class="w-full block px-2">
            <img :src="url" alt="Uppariksha Ads">
          </a>
        </div>
      </VueSlickCarousel>
    </div>
    <div class="welcome card-shadow p-6 px-8 bg-white mb-6">
      <div class="block mb-6">
        <h1 class="mb-4 font-bold text-3xl">Welcome</h1>    
        <p>This is your dashboard where you can find exams, reports and etc.</p>
      </div>
    </div>

    <div class="mb-6 flex flex-wrap -mx-4">
      <div :class="css.columns">
        <div :class="css.colContainer">
          <div :class="css.header">Recent Exams</div>
          <div>
            <div :class="css.list" v-for="exam in exams" :key="exam.id">
              <p class="text-sm">{{exam.name}}</p>
              <inertia-link :class="css.linkBtn" :href="path('exam.take',exam.id)">Take</inertia-link>
            </div>
          </div>
           <inertia-link :class="css.footer" :href="path('exams')">
            <p class="font-semibold text-sm">View All</p>
            <i class="el-icon-position text-md"></i>
           </inertia-link>
        </div>
      </div>

      <div :class="css.columns">
        <div :class="css.colContainer">
          <div :class="css.header">Recent Reports</div>
          <div>
            <div :class="css.list" v-for="report in reports" :key="report.id">
              <p class="text-sm">{{report.name}}</p>
              <inertia-link :class="css.linkBtn" :href="path('result.show',report.id)">View</inertia-link>
            </div>
          </div>
           <inertia-link :class="css.footer" :href="path('reports')">
            <p class="font-semibold text-sm">View All</p>
            <i class="el-icon-position text-md"></i>
           </inertia-link>
        </div>
      </div>
    </div>

  </layout>
</template>

<script>
import Layout from '@/Shared/Student/Layout'
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import axios from 'axios'

export default {
  components: {
    Layout,
    VueSlickCarousel
  },
  props : ['exams','reports'],
  data(){
    return {
      css :{
        columns : 'block w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/3 px-4 mb-6 lg:mb-0',
        colContainer : 'bg-white card-shadow',
        header : 'font-semibold text-sm text-grey-dark px-4 py-2 leading-loose border-b border-grey-light',
        footer : 'flex justify-between items-center text-grey-dark px-4 py-3 bg-grey-lightest',
        linkBtn : 'text-grey-darkest inline-block bg-indigo-dark hover:bg-indigo text-white px-4 py-1 rounded-full leading-tight text-xs',
        list : 'flex justify-between items-center text-grey-dark px-4 py-3 border-b border-grey-light'
      },
      settings : {
        "dots": true,
        "arrows" : false,
        "dotsClass": "slick-dots custom-dot-class",
        "edgeFriction": 0.35,
        "infinite": true,
        "speed": 500,
        "autoplay" : true,
        "slidesToShow": 2,
        "slidesToScroll": 1,
        "responsive": [
          {
            "breakpoint": 1440,
            "settings": {
              "slidesToShow": 1,
              "slidesToScroll": 1,
            }
          }
        ]
      },
      banners : []
    }
  },
  mounted(){
    this.getBanners()
  },
  methods : {
    getBanners(){
      let $this = this;
      axios.get('https://uppariksha.com/wp-json/api/v1/media/banner')
      .then(response => ($this.banners = response.data))
      //console.log($this.banners)
    }
  }
}
</script>
