<template>
  <layout title="Leaderboard">
      <div class="block mb-10">
        <div class="sec-title mb-2 block w-full">
          <h4 class="package-title w-full mb-2 text-left">Your Exams Leaderbiards</h4>
          <p class="package-subtitle">Refine and strengthen your skills with these practice exercises.</p>
        </div>
        <div class="flex flex-wrap -mx-6">
          <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/3 p-6 md:px-4"  v-for="(data,key) in results" :key="key">
            <RankCard :data="data" role="student"/>
          </div>
        </div>
      </div>
  </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Student/Layout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'
import RankCard from '@/Shared/Student/RankCard'

export default {
  components: {
    Icon,
    Layout,
    Pagination,
    SearchFilter,
    RankCard
  },
  props: ['results'],
  data() {
    return {

    }
  },
  mounted(){
    console.log(this.results)
  },
  watch: {

  },
  methods: {
    
  }
}
</script>
<style scoped>
.package-title{
  font-size: 18px;
  line-height: 24px;
}
.package-subtitle{
  font-size: 14px;
  line-height: 1.5
}
</style>