<template>
  <layout title="Edit Topic">
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link class="text-indigo-light hover:text-indigo-dark" :href="path('dashboard')">{{form.name}}</inertia-link>
      <span class="text-indigo-light font-medium">/</span> Edit
    </h1>
    <div class="bg-white rounded shadow overflow-hidden max-w-lg">
      <form @submit.prevent="submit">
        <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
          <div class="pr-6 pb-8 w-full lg:w-1/2">
            <el-select v-model="form.course_id" placeholder="Select Course" @change="filterSubjects" class="w-full" required>
              <el-option
                v-for="course in courses"
                :key="course.id"
                :label="course.name"
                :value="course.id">
              </el-option>
            </el-select>
          </div>
          <div class="pr-6 pb-8 w-full lg:w-1/2">
            <el-select v-model="form.subject_id" placeholder="Select Subject" class="w-full" required>
              <el-option
                v-for="subject in fsubjects"
                :key="subject.id"
                :label="subject.name"
                :value="subject.id">
              </el-option>
            </el-select>
          </div> 
          <text-input v-model="form.name" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Topic Name" required/>
        </div>
        <div class="px-8 py-4 bg-grey-lightest border-t border-grey-lighter flex justify-end items-center mt-5">
          <loading-button :loading="sending" class="btn-indigo" type="submit">Update Topic</loading-button>
        </div>
      </form>
    </div>
  </layout>
</template>

<script>
import Layout from '@/Shared/Layout'
import LoadingButton from '@/Shared/LoadingButton'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'

export default {
  components: {
    Layout,
    LoadingButton,
    SelectInput,
    TextInput,
  },
  props: {
    courses: Array,
    subjects : Array,
    topic : Object
  },
  remember: 'form',
  data() {
    return {
      sending: false,
      fsubjects: this.subjects,
      form: {
        id: this.topic.id,
        name: this.topic.name,
        subject_id : this.topic.subject_id,
        course_id : this.topic.course_id
      }
    }
  },
  methods: {
    filterSubjects(){
      const cid = this.form.course_id
      this.ftopics = null
      this.form.topics_id = null
      this.form.subject_id = null
      this.fsubjects = this.subjects.filter(function(subject){
          return subject.course_id == cid
      })
    },
    submit() {
      this.sending = true
      this.$inertia.post(this.path('topics.store', this.topic.id), this.form)
        .then(() => this.sending = false)
    },
  },
}
</script>
