<template>
  <layout title="Reports">
      <h1 class="mb-8 font-bold text-3xl mb-6 px-4">Overview</h1>
      <div class="bg-white rounded shadow overflow-x-auto p-6">
        <el-table :data="resultsData" style="width: 100%;padding:0px 15px;">
          <el-table-column type="index" width="50"></el-table-column>
          <el-table-column label="Exam" prop="name" sortable></el-table-column>
          <el-table-column label="Taken On" prop="taken_on"></el-table-column>
          <el-table-column label="Your Score" prop="score"></el-table-column>
          <el-table-column label="Report">
             <template slot-scope="scope">
              <el-button size="mini">
                <inertia-link :href="path('result.show', scope.row.report_id)" tabindex="-1" v-if="scope.row.available">View Report
                </inertia-link>
                <span v-else>Result on {{ scope.row.a_on }}</span>
              </el-button>
             </template>
          </el-table-column>
        </el-table>
      </div>
  </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Student/Layout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'

export default {
  components: {
    Icon,
    Layout,
    Pagination,
    SearchFilter,
  },
  props: {
    results: Object
  },
  data() {
    return {
      resultsData : []
    }
  },
  mounted(){
    let $this = this;
    _.map(this.results, function(data, key) {
      let x = {};
      x.name = data.exam_name;
      x.taken_on = data.taken_on;
      x.score = data.score;
      x.report_id = data.report_id;
      x.available = data.available;
      x.a_on = data.a_on;
      $this.resultsData.push(x);
    })
  },
  watch: {

  },
  methods: {
    
  }
}
</script>
<style scoped>
h3{
  display:block;
  font-size:18px;
  font-weight:600;
  line-height:24px;
  margin:0 0 15px;
}
.image{
  display:block;
  width:100%;
  padding-bottom: 275px;
  background-size: cover;
  background-position: center;
  overflow:hidden;
}
</style>
