<template>
    <layout :title="exam.name" :langswitch="langswitch" :submitbutton="submitbutton">
        <div class="bg-white rounded shadow overflow-x-auto p-6">
          <div class="flex main-result flex-col">
            <h2 class="w-full">Overall Result:</h2>
            <div class="flex flex-wrap w-full py-6">
              <div class="data-content w-full md:w-full lg:w-1/2 flex">
                <div class="row block w-full mb-4">
                  <div class="card-panel-description">
                    <span class="card-panel-num">{{basic.total}}</span>
                    <div class="card-panel-text">Total Questions</div> 
                  </div>
                  <div class="card-panel-description">
                    <span class="card-panel-num">{{basic.answered }}</span>
                    <div class="card-panel-text">Total Answered </div>
                  </div>
                  <div class="card-panel-description">
                    <span class="card-panel-num">{{basic.correct}}</span>
                    <div class="card-panel-text">Correct Answers</div> 
                  </div>
                  <div class="card-panel-description">
                    <span class="card-panel-num">{{basic.wrong}}</span>
                    <div class="card-panel-text">Wrong Answers</div> 
                  </div>
                </div>
                <div class="row block w-full mb-4 flex justify-center items-center total-marks">
                  <div class="card-panel-description">
                    <span class="card-panel-num percentage">{{rank}}</span>
                    <div class="card-panel-text">Your Rank<br/><i>Among {{total}} participants</i></div> 
                  </div>
                </div>
              </div>
              <div class="data-content w-full md:w-full lg:w-1/2 px-6">
                <div class="chart-wrapper">
                    <PieChart :data="basic.chartData"/>
                </div>
              </div>
            </div>
          </div>
          <div class="flex sub-result mt-6 flex-col">
            <h2 class="w-full py-6">Result Summary:</h2>
            <el-table :data="tableData" border style="width: 100%">
              <el-table-column type="index" width="50"></el-table-column>
              <el-table-column prop="subject" label="Subject" width="180"></el-table-column>
              <el-table-column prop="total" label="Total Questions" width="180"></el-table-column>
              <el-table-column prop="answered" label="Answered"></el-table-column>
              <el-table-column prop="unanswered" label="Unanswered"></el-table-column>
              <el-table-column prop="attended" label="Attended"></el-table-column>
              <el-table-column prop="unattended" label="Unattended"></el-table-column>
              <el-table-column prop="correct" label="Correct"></el-table-column>
              <el-table-column prop="wrong" label="Wrong"></el-table-column>
            </el-table>
          </div>
          <div class="flex sub-result mt-6 flex-col" v-if="attempts.length > 1">
            <h2 class="w-full py-6">Previous Attempts Comaprision:</h2>
            <Charts :dimensions="legend" :source="source"/>
          </div>
        </div>
    </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Student/Layout'
import PieChart from '@/Shared/Student/PieChart'
import { constants } from 'crypto';
import Charts from '@/Shared/Student/Charts'

export default {
  components: {
    Icon,
    Layout,
    PieChart,
    Charts
  },
  props: {
    exam: Object,
    questions : Array,
    result : Array,
    attempts : Array,
    basic : Object,
    rank : Number,
    total : Number
  },
  data(){
      return{
        tableData : [],
        score : 0,
        submitbutton : false,
        langswitch : false,
        attemptsData : '',
        legend : [],
        source : []
      }
  },
  mounted(){
    let $this = this
    this.legend = ['Attempts','Attended','Answered','Wrong','Correct','Unanswered','Unattended']
    this.source = []

    _.forEach(this.attempts, function(data,index) {
      let x = {}
      let i = index+1
      let y = data.basic_result
      if(i==1)
        x.Attempts = 'Current Attempt '
      else
        x.Attempts = 'Attempt '+ i
      x.Answered = y.answered
      x.Attended = y.attended
      x.Correct = y.correct
      x.Wrong = y.wrong
      x.Unanswered = y.unanswered
      x.Unattended = y.unattended
      $this.source.push(x)
    });
    
    let rdata = this.getGroupedResults(this.result);
    this.tableData = rdata;
    this.score = ( this.basic.correct - this.basic.wrong * 0.25 )
  },
  methods:{
    getGroupedResults(results){
        let table = []
        const groupedResult = _.groupBy(results, data => data.subject);
        let $this = this;
        _.map(groupedResult, function(data, key) {
          let res = $this.getResultData(data)
          res.subject = key
          table.push(res);
        })
        return table;
    },
    getResultData(data){
      let result = {}, correct = 0, wrong = 0, attended = 0, answered = 0, unattended = data.length,unanswered = data.length
      data.forEach((question, index) => {
        if(question.type == 'radio'){
          if(question.answerkey == question.useranswers){
            correct++;
          } else{
            wrong++;
          }
        }else{
          if(this.isArrayEqual(question.answerkey,question.useranswers)){
            correct++;
          } else{
            wrong++;
          }
        }
        if(question.answered) answered++; 
        if(question.attended) attended++; 
      });
      result.total = data.length;
      result.correct = correct;
      result.wrong = wrong;
      result.attended = attended;
      result.answered = answered;
      result.unanswered = data.length - answered;
      result.unattended = data.length - attended;
      result.chartData = {}
      result.chartData.labels = ['Answered','Attended','Correct','Unanswered','Unattended','Incorrect']
      result.chartData.data = [
        { value: result.answered, name: 'Answered' },
        { value: result.attended, name: 'Attended' },
        { value: result.correct, name: 'Correct' },
        { value: result.unanswered, name: 'Unanswered' },
        { value: result.unattended, name: 'Unattended' },
        { value: result.wrong, name: 'Incorrect' }
      ]
      return result
    },
    isArrayEqual(a, b) {
      return a.length === b.length && a.sort().every(function(value, index) { return value === b.sort()[index]});
    }
  }
}
</script>

<style>
.card-panel-description {
	 float: right;
	 font-weight: bold;
	 margin: 26px;
	 margin-left: 0px;
   text-align: center;
}
.card-panel-description .card-panel-text {
    color: rgba(49, 49, 49, 0.72);
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
}
.card-panel-description .card-panel-num {
    font-size: 30px;
    text-align: center;
    margin-bottom: 12px;
    display: block;
}

.total-marks .card-panel-description{
  margin:0;
  margin-top: -40px;
}

.total-marks .card-panel-description .percentage{
  font-size: 60px;
}
</style>
