a {
  color: inherit;
  text-decoration: none;
}

input, select, textarea, button, div, a {
  &:focus, &:active {
    outline: none;
  }
}

body,.font-sans {
  font-family: 'Oxygen',sans-serif;
  color: #576366;
}

h1, h2, h3, h4, .font-title {
  font-family: 'Lato',sans-serif;
}

.bg-theme-color{
  background: #edeff0;
}

.card-shadow {
  box-shadow: 0 2px 0 rgba(0,0,0,0.06);
  border-radius: 4px;
  overflow:hidden
}
