<template>
  <layout title="Dashboard">
    <h1 class="mb-8 font-bold text-3xl">Dashboard</h1>    
    <panel-group :students="total_students" :exams="total_exams"/>
  </layout>
</template>

<script>
import Layout from '@/Shared/Layout'
import PanelGroup from '@/Shared/PanelGroup'

export default {
  components: {
    Layout,
    PanelGroup
  },
  props:['total_students','total_exams']
}
</script>
