<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme

export default {
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '600px'
    },
    data : {
      type : Object
    },
    dimensions : {
      type : Array
    },
    source : {
      type : Array
    }
  },
  data() {
    return {
      chart: null,
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      //console.log(this.source);
      let a = _.map(this.source, 'name');
      //console.log(a);
      this.chart = echarts.init(this.$el, 'macarons')
      // this.chart.setOption({
      //   legend: {},
      //   tooltip: {},
      //   dataset: {
      //       dimensions: this.dimensions,
      //       source: this.source
      //   },
      //   xAxis: {type: 'category'},
      //   yAxis: {},
      //   // Declare several bar series, each will be mapped
      //   // to a column of dataset.source by default.
      //   series: [
      //       {type: 'bar'},
      //       {type: 'bar'},
      //       {type: 'bar'},
      //       {type: 'bar'},
      //       {type: 'bar'},
      //       {type: 'bar'}
      //   ]
      // })
      this.chart.setOption({
        legend: {
            data: a
        },
        tooltip : {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : this.dimensions
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : this.source 
      })
    }
  }
}
</script>