<template>
  <div class="card-shadow bg-white">
    <div class="flex justify-between items-center bg-indigo-darker px-4 py-5">
      <i class="el-icon-alarm-clock text-white"></i>
      <h4 class="text-white text-right">{{data.time}}</h4>
    </div>
    <div class="block details px-4 py-6">
      <p class="block text-sm font-semibold mb-2 text-grey-darker">{{data.package}} Package</p>
      <h3 class="block text-lg font-semibold mb-4">{{data.name}}</h3>
      <p class="block text-sm mb-2 leading-normal">For total {{data.marks}} marks which incudes follwing subjects : 
        <span v-for="(sub,idx) in data.subjects" :key="idx">{{sub}} <i v-if="idx != data.subjects.length - 1">,</i></span>
      </p>
      <div class="flex justify-between items-center action mt-4">
        <inertia-link :href="path('exam.take', data.id)" v-if="!data.attempted && btn !== 'false'" class="inline-block bg-transparent text-grey-dark font-semibold py-2 px-4 border-2 border-grey hover:border-grey-dark hover:text-grey-dark rounded-full text-sm">{{ prev == 'true' ? 'Practice Now' : 'Start Exam'  }}</inertia-link>
        <inertia-link :href="path('exam.take', data.id)" v-if="data.attempted && btn !== 'false'" class="inline-block bg-transparent text-grey-dark font-semibold py-2 px-4 border-2 border-grey hover:border-grey-dark hover:text-grey-dark rounded-full text-sm">Practice Now</inertia-link>
        <span v-if="data.available">
          <inertia-link class="inline-block bg-transparent text-grey-dark font-semibold py-2 px-4 border-2 border-grey hover:border-grey-dark hover:text-grey-dark rounded-full text-sm ml-2" :href="path('result.show', data.result)" v-if="data.attempted  && btn !== 'false'" >Result</inertia-link>
        </span>
        <span v-else >
          <span class="inline-block bg-transparent text-grey-dark font-semibold py-2 px-4 text-sm ml-2" v-if="btn !== 'false' && prev !== 'true'" >Report on {{data.report}}</span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props:['data','btn','prev'],
  components: {

  },
  methods: {
    
  }
}
</script>

<style scoped>

</style>
