<template>
  <div>
      <div class="flex flex-col">
      <div class="min-h-screen flex flex-col">
        <div class="flex flex-wrap sm:flex-no-wrap">
          <div class="w-full bg-indigo-darkest md:flex-no-shrink flex items-center justify-start sm:w-16  px-4 py-3">
            <!-- <inertia-link href="/"> -->
              <LogoSmall class="fill-white" width="40" height="28" />
              <div class="w-full mt-1 block sm:hidden text-base text-white text-center">{{ title }}</div>
            <!-- </inertia-link> -->
          </div>
          <div class="bg-white border-b w-full p-4 md:py-0 md:px-6 text-sm md:text-base flex justify-between items-center">
            <div class="mt-1 mr-4 text-sm hidden sm:block">{{ title }}</div>
            <div class="flex items-center w-full sm:w-auto justify-between sm:justify-end">
              <div class="mr-2">
                <el-switch class="text-sm" v-model="hindi"  @change="langswitcher" active-text="English" inactive-text="Hindi" :disabled="!langswitch"></el-switch>
              </div>
              <div>
                <button class="text-grey-darkest inline-block bg-indigo-dark hover:bg-indigo text-white px-4 py-2 rounded leading-tight text-sm ml-2" v-if="submitbutton" @click="submit">{{submitbuttontitle}} Exam</button>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-grow">
          <div class="w-full overflow-hidden" :class="title + '-wrapper' ">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '@/Shared/Logo'
import LogoSmall from '@/Shared/LogoSmall'

export default {
  components: {
    Logo,
    LogoSmall
  },
  props: {
    title: String,
    submitbutton : Boolean,
    langswitch : Boolean,
    submitbuttontitle : String
  },
  data() {
    return {
      hindi : ''
    }
  },
  watch: {
    title(title) {
      this.updatePageTitle(title)
      this.checkMenu();
      //this.checkViewport();
    },
  },
  mounted() {
    this.updatePageTitle(this.title);
  },
  methods: {
    updatePageTitle(title) {
      document.title = title ? `${title} | ${this.$page.app.name}` : this.$page.app.name
    },
    hideDropdownMenus() {
      this.showUserMenu = false
    },
    submit:function() {
      this.$emit('submitExam');
    },
    langswitcher:function() {
      this.$emit('switchLang',this.hindi);
    },
    checkViewport(){
      if(window.location.href.indexOf("/exam/") > -1){
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)   ) {
          var ww = window.screen.width;
          var mw = 600; // min width of site
          var ratio =  ww / mw; //calculate ratio
          var viewport_meta_tag = document.getElementsByName('viewport')[0];
          if( ww < mw){ //smaller than minimum size
            viewport_meta_tag.setAttribute('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=no, width=' + mw);
          }
          else { //regular size
            viewport_meta_tag.setAttribute('content', 'initial-scale=1.0, maximum-scale=1');
          }
        }
      }
    }
  },
}
</script>
