<template>
  <div>
    <portal-target name="dropdown" slim />
    <div class="flex flex-col">
      <div class="min-h-screen flex flex-col" @click="hideDropdownMenus">
        <div class="md:flex">
          <div class="bg-indigo-darkest md:flex-no-shrink flex items-center justify-start" :class="(sidebar == true ? 'md:w-16  px-4 py-3 ' : 'md:w-56 py-4 px-6')">
            <dropdown class="md:hidden" placement="bottom-end">
              <svg class="fill-white w-5 h-5 mr-4 mt-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
              <div slot="dropdown" class="mt-2 px-8 py-4 shadow-lg bg-indigo-darker rounded">
                <MainMenu/>
              </div>
            </dropdown>
            <inertia-link href="/">
              <LogoSmall class="fill-white" v-if="sidebar" width="40" height="28" />
              <Logo class="fill-white" v-if="!sidebar" width="120" height="28" />
            </inertia-link>
          </div>
          <div class="bg-white border-b w-full p-4 md:py-0 md:px-12 text-sm md:text-base flex justify-between items-center md:pl-4">
            <div class="mr-4 flex justify-center items-center">
              <svg @click="toggleSidebar" class="hidden md:inline-block fill-grey-dark w-4 h-4 mr-4 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
              <span class="inline-block">Welcome {{ $page.auth.user.first_name }}</span>
            </div>
            <div class="flex items-center">
              <dropdown placement="bottom-end" class="mr-2" >
                <div class="flex items-center cursor-pointer select-none group">
                  <div class="text-grey-darkest group-hover:text-indigo-dark focus:text-indigo-dark mr-1 whitespace-no-wrap">
                    <img class="w-8 h-8 rounded-full" :src="'/avatars/'+ $page.auth.user.avatar" @error="defaultAvatar" alt="My Account">
                  </div>
                  <icon class="w-5 h-5 group-hover:fill-indigo-dark fill-grey-darkest focus:fill-indigo-dark" name="cheveron-down" />
                </div>
                <div slot="dropdown" class="mt-2 py-1 shadow-md bg-white rounded text-sm border border-grey-light">
                  <inertia-link class="block px-6 py-2 bg-white border-b border-grey-light" :href="path('profile')">
                    <p class="font-semibold mb-1 text-sm">{{ $page.auth.user.first_name }}</p>
                    <span class="inline-block font-medium text-xs mb-1">View Profile</span>
                  </inertia-link>
                  <inertia-link class="text-xs block px-6 py-3 bg-theme-color hover:bg-white border-b border-grey-light" :href="path('profile.update')">Account Settings</inertia-link>
                  <inertia-link class="text-xs block px-6 py-3 bg-theme-color hover:bg-white border-b border-grey-light" :href="path('profile.purchases')">Purchases</inertia-link>
                  <inertia-link class="block px-6 py-3 bg-white text-xs" :href="path('logout')" method="post">Signout</inertia-link>
                </div>
              </dropdown>
              <dropdown placement="bottom-end">
                <div class="flex items-center cursor-pointer select-none group">
                  <div class="text-grey-darkest group-hover:text-indigo-dark focus:text-indigo-dark mr-1 whitespace-no-wrap">
                    <i class="el-icon-message-solid text-lg"></i>
                  </div>
                </div>
                <div slot="dropdown" class="mt-2 pt-1 shadow-md bg-white rounded text-sm border border-grey-light overflow-hidden">
                  <inertia-link class="block px-6 py-2 bg-white border-b border-grey-light" :href="path('profile')">
                    <p class="font-semibold mb-1 text-sm">Notifications</p>
                  </inertia-link>
                  <span class="text-xs block px-6 py-3 bg-theme-color hover:bg-white border-b border-grey-light" v-for="(notification,index) in $page.auth.user.notifications" :key="index">
                      <div class="mb-2 flex items-center">
                        <p class="block font-semibold text-sm">{{notification.data.name}}</p>
                        <span class="text-xs text-grey-darkest "><i class="el-icon-time text-xs text-grey-darkest px-2"></i>{{ notification.created_at | moment("from", "now", true) }} ago</span>
                      </div>
                      <span class="block font-medium text-xs text-grey-dark">{{notification.data.description}}</span>
                  </span>
                  <inertia-link class="flex justify-between items-center px-6 py-3 bg-white hover:bg-grey-lightest" :href="path('profile')">
                    <p class="font-semibold text-xs">View All Notifications</p>
                    <i class="el-icon-position text-md"></i>
                  </inertia-link>
                </div>
              </dropdown>
            </div>
          </div>
        </div>
        <div class="flex flex-grow">
          <div class="bg-indigo-darker flex-no-shrink hidden md:block menu-wrapper" :class="[menuclass, (sidebar == true ? 'w-16' : 'w-56')]">
            <main-menu :mini="sidebar"/>
          </div>
          <div class="w-full overflow-hidden px-4 py-8 md:p-12" :class="title + '-wrapper' ">
            <flash-messages />
            <div class="block mb-6 infos" v-if="($page.auth.user.district == null || $page.auth.user.state == null || $page.auth.user.city == null) && !isUrl('account')">
              <el-alert v-if="isUrl('exams')" close-text="Complete Now" title="Profile Information is mandatory" description="Please Complete your profile before you can take exams" type="warning" @close="profile" show-icon></el-alert>
              <el-alert v-else close-text="Complete Now" title="Profile Information is mandatory" description="Please Complete your profile information before proceeding.." type="warning" @close="profile" show-icon></el-alert>
            </div>

            <slot />
          </div>
        </div>
      </div>
    </div>

    <div class="fabs" v-if="!isUrl('exam/')">
      <div class="chat">
        <div class="chat_header">
          <div class="chat_option">
            <div class="header_img">
              <svg viewBox="-13 0 481 481.902" xmlns="http://www.w3.org/2000/svg"><path d="M427.168 203.875h-21.719v-36.176c0-44.687-18.066-86.73-51.312-118.39C321.07 17.816 277.32.309 230.57 0 133.91 0 55.45 75.23 55.45 167.7v36.175H27.733C12.852 203.875.45 216.473.45 231.363v108.57c.156 14.946 12.336 26.973 27.285 26.942h69.477a7.157 7.157 0 007.238-6.941v-148.57a7.633 7.633 0 00-7.238-7.489H69.449v-36.176C69.45 82.95 141.75 14 230.645 14c43.125.281 83.39 16.422 113.867 45.445 30.437 28.993 46.937 67.438 46.937 108.254v36.176h-27.41c-3.863 0-6.59 3.621-6.59 7.488v148.57a6.63 6.63 0 001.809 4.883 6.63 6.63 0 004.781 2.059h20.41v41.89c0 13.786-10.715 25.11-24.5 25.11h-59.484c-4.04-20.918-23.633-35.098-44.762-32.395-21.133 2.704-36.527 21.356-35.172 42.618 1.356 21.257 18.996 37.808 40.297 37.804 19.809-.113 36.656-14.484 39.887-34.027h59.234c21.5 0 38.5-17.602 38.5-39.11v-41.89h28.719c14.95.031 27.129-11.996 27.281-26.941v-108.57c0-14.891-12.394-27.489-27.281-27.489zm-336.719 149H27.734c-7.222.04-13.136-5.723-13.285-12.941v-108.57c.102-7.329 5.957-13.274 13.285-13.489H90.45zm170.38 114.96c-14.567 0-26.38-11.812-26.38-26.382 0-14.566 11.813-26.379 26.383-26.379 14.566 0 26.379 11.813 26.379 26.383-.016 14.563-11.82 26.363-26.383 26.379zm179.62-127.901c-.144 7.218-6.058 12.98-13.281 12.941h-55.719v-135h55.719c7.324.215 13.184 6.16 13.281 13.488zm0 0"/><path d="M311.074 350.875a7.403 7.403 0 007.375-7.09V231.773c0-3.867-3.508-6.898-7.375-6.898H143.828c-3.867 0-7.379 3.027-7.379 6.898v112.012a7.41 7.41 0 007.38 7.09h33.585l8.5 34.598a7.041 7.041 0 004.996 5.058 7.03 7.03 0 006.856-1.879l36.246-37.777zm-85.105-11.887l-29.492 30.754-6.778-27.566a6.965 6.965 0 00-6.797-5.301H150.45v-98h154v98h-73.426a6.957 6.957 0 00-5.054 2.113zm0 0"/><path d="M176.863 278.875h60.5a7.001 7.001 0 000-14h-60.5a7.001 7.001 0 000 14zm0 0M278.04 294.875H176.862a7.001 7.001 0 000 14H278.04a7.001 7.001 0 000-14zm0 0"/></svg>
            </div>
            <span id="chat_head">Need some help?</span>
          </div>
        </div>
        <div class="chat_body chat_login">
            <p>What do you need help with?</p>
            <inertia-link class="links" :href="path('support')">Technical Support</inertia-link>
            <a href="https://uppariksha.com/contact/" target="_blank" class="links">Contact Us</a>
        </div>
      </div>
      <a id="prime" class="fab" @click="toggleFab"><svg class="zmdi-comment-outline zmdi-close prime" viewBox="0 0 419.175 419.175" xmlns="http://www.w3.org/2000/svg"><path d="M14.971 419.175c-2.383 0-4.766-.57-6.944-1.711A14.955 14.955 0 010 404.205V14.971C0 6.696 6.696 0 14.971 0h389.234c8.275 0 14.971 6.696 14.971 14.971v299.411c0 8.275-6.696 14.971-14.971 14.971H149.399L23.494 416.515a14.947 14.947 0 01-8.523 2.66zm14.97-389.234v345.697l106.256-73.566a15.038 15.038 0 018.523-2.661h244.514V29.941z"/></svg></a>
    </div>

  </div>
</template>

<script>
import Dropdown from '@/Shared/Dropdown'
import FlashMessages from '@/Shared/FlashMessages'
import Icon from '@/Shared/Icon'
import Logo from '@/Shared/Logo'
import LogoSmall from '@/Shared/LogoSmall'
import MainMenu from '@/Shared/Student/MainMenu'

export default {
  components: {
    Dropdown,
    FlashMessages,
    Icon,
    Logo,
    LogoSmall,
    MainMenu,
  },
  props: {
    title: String
  },
  data() {
    return {
      showUserMenu: false,
      menuclass : '',
      sidebar : JSON.parse(localStorage.getItem("minimenu")) || false
    }
  },
  watch: {
    title(title) {
      this.updatePageTitle(title)
      this.checkMenu();
      this.checkViewport();
    },
    sidebar: function() {
			localStorage.setItem("minimenu", JSON.stringify(this.sidebar));
		}
  },
  mounted() {
    this.updatePageTitle(this.title)
    this.checkMenu();
    this.checkViewport();
  },
  methods: {
    defaultAvatar(event) {
      event.target.src =  '/avatars/user.jpg'
    },
    profile() {
      this.$inertia.visit(this.path('profile.update'))
    },
    toggleFab() {
      document.getElementsByClassName("prime")[0].classList.toggle('zmdi-comment-outline');
      document.getElementsByClassName("prime")[0].classList.toggle('zmdi-close');
      document.getElementById("prime").classList.toggle('is-float');
      document.getElementsByClassName("chat")[0].classList.toggle('is-visible');
      document.getElementsByClassName("fab")[0].classList.toggle('is-visible');
    },
    updatePageTitle(title) {
      document.title = title ? `${title} | ${this.$page.app.name}` : this.$page.app.name
    },
    hideDropdownMenus() {
      this.showUserMenu = false
    },
    toggleSidebar(){
      this.sidebar = !this.sidebar
    },
    checkMenu(){
      if(this.title == "Solution"){
        this.menuclass = 'md:hidden'
      } else{
        this.menuclass = ''
      }
    },
    checkViewport(){
      if(window.location.href.indexOf("/exam/") > -1){
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)   ) {
          var ww = window.screen.width;
          var mw = 1024; // min width of site
          var ratio =  ww / mw; //calculate ratio
          var viewport_meta_tag = document.getElementsByName('viewport')[0];
          if( ww < mw){ //smaller than minimum size
            viewport_meta_tag.setAttribute('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=no, width=' + mw);
          }
          else { //regular size
            viewport_meta_tag.setAttribute('content', 'initial-scale=1.0, maximum-scale=1');
          }
        }
      }
    },
    isUrl(...urls) {
      if (urls[0] === "") {
        return location.pathname.substr(1) === "";
      }
      return urls.filter(url => location.pathname.substr(1).startsWith(url)).length;
    }
  }
}
</script>

<style>

.infos .el-alert {
    width: 100%;
    padding: 15px 16px;
    border: 1px solid #e6a23ca9;
    align-items: flex-start;
}
.infos .el-alert__title {
    font-size: 16px;
    line-height: 24px;
}

.infos .el-alert .el-alert__description {
    font-size: 13px;
    margin: 5px 0 5px;
}

.infos .el-alert__closebtn.is-customed {
  position: relative;
    font-style: normal;
    font-size: 13px;
    margin-left: 15px;
    display: inline-block;
    margin-bottom: 12px;
}

.infos .el-alert.is-light .el-alert__closebtn{
  color: #e6a23c;
  text-decoration: underline;
}

.infos .el-alert__icon.is-big {
    font-size: 34px;
    width: 36px;
}

.fabs {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right: 0;
  z-index: 998;
}

.fab {
  display: flex;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  color: #f0f0f0;
  margin: 25px auto 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  cursor: pointer;
  transition: all .1s ease-out;
  position: relative;
  z-index: 998;
  overflow: hidden;
  background: #f55c72;
  justify-content: center;
  align-items: center;
}

.fab svg{
  max-width: 28px;
  width: 24px;
  height: 24px;
}
.fab > i {
  font-size: 2em;
  line-height: 55px;
  -webkit-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.fab > svg path{
  fill:#fff;
}
.fab:not(:last-child) {
  width: 0;
  height: 0;
  margin: 20px auto 0;
  opacity: 0;
  visibility: hidden;
  line-height: 40px;
}

.fab:not(:last-child) > i {
  font-size: 1.4em;
  line-height: 40px;
}

.fab:not(:last-child).is-visible {
  width: 40px;
  height: 40px;
  margin: 15px auto 10;
  opacity: 1;
  visibility: visible;
}

.fab:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms;
}

.fab:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 20ms;
  transition-delay: 20ms;
}

.fab:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 40ms;
  transition-delay: 40ms;
}

.fab:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 60ms;
  transition-delay: 60ms;
}

.fab:not(:last-child):nth-last-child(5) {
  -webkit-transition-delay: 80ms;
  transition-delay: 80ms;
}

.chat {
  position: fixed;
  right: 85px;
  bottom: 20px;
  width: 400px;
  font-size: 12px;
  line-height: 22px;
  font-family: 'Roboto';
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  opacity: 0;
  box-shadow: 1px 1px 100px 2px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  -webkit-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  pointer-events:none;
}

.chat_fullscreen {
    position: fixed;
    right: 0px;
    bottom: 0px;
    top: 0px;
  }
.chat_header {
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #f3f3f3;
    height: 55px;
    background: #F55C72;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0;
}
.header_img{
  display: block;
    width: 40px;
    height: 40px;
    float: left;
  margin-right:10px;
}

.header_img svg path{
  fill:#fff;
}
.chat_header2 {
      /* margin: 10px; */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.chat_header .span {
  float:right;
}

.chat_fullscreen_loader {
  display: none;
    float: right;
    cursor: pointer;
    /* margin: 10px; */
    font-size: 20px;
    opacity: 0.5;
    /* padding: 20px; */
    margin: -10px 10px;
}

.chat.is-visible {
  opacity: 1;
  -webkit-animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
  animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
  pointer-events: all
}
.is-hide{
  opacity: 0
}

.chat_option {
    float: left;
    font-size: 15px;
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
    letter-spacing: 0.5px;
    font-weight: 400;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}


.chat_option img {
    border-radius: 50%;
    width: 55px;
    float: left;
    margin: -30px 20px 10px 20px;
    border: 4px solid rgba(0, 0, 0, 0.21);
}

.change_img img{
    width: 35px;
    margin: 0px 20px 0px 20px;
}
.chat_option .agent {
  font-size: 12px;
    font-weight: 300;
}
.chat_option .online{
      opacity: 0.4;
    font-size: 11px;
    font-weight: 300;
}
.chat_color {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  float: left;
}


.chat_body {
  background: #fff;
  width: 100%;

  display: inline-block;
  text-align: center;
    overflow-y: auto;

}
#chat_body{
    height: 450px;
}
.chat_login p,.chat_body a{
    -webkit-animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
  animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
}
.chat_body{
  padding:10px;
  text-align:center;
}
.chat_body p {
  color: #888
}
.chat_body a {
  text-align: center;
  box-shadow: none;
  line-height: 40px;
  font-size: 15px;
}

.chat .is-active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.chat .is-float {
  box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
}

.chat .is-loading {
  display: block;
  -webkit-animation: load 1s cubic-bezier(0, .99, 1, 0.6) infinite;
  animation: load 1s cubic-bezier(0, .99, 1, 0.6) infinite;
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.0;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes load {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.0;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* SMARTPHONES PORTRAIT */

@media only screen and (min-width: 300px) {
  .chat {
    width: 250px;
  }
}
/* SMARTPHONES LANDSCAPE */

@media only screen and (min-width: 480px) {
  .chat {
    width: 300px;
  }
  .chat_field {
    width: 65%;
  }
}
/* TABLETS PORTRAIT */

@media only screen and (min-width: 768px) {
  .chat {
    width: 300px;
  }
  .chat_field {
    width: 65%;
  }
}
/* TABLET LANDSCAPE / DESKTOP */

@media only screen and (min-width: 1024px) {
  .chat {
    width: 300px;
  }
  .chat_field {
    width: 65%;
  }
}


/* Ripple */

.ink {
  display: block;
  position: absolute;
  background: rgba(38, 50, 56, 0.4);
  border-radius: 100%;
  transform: scale(0);
}

.ink.animate {
  -webkit-animation: ripple 0.5s ease-in-out;
          animation: ripple 0.5s ease-in-out;
}

@-webkit-keyframes ripple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  
  100% {
    opacity: 0;
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    webkit-transform: scale(5);
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@keyframes ripple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  
  100% {
    opacity: 0;
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    webkit-transform: scale(5);
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

.links {
    display: block;
    width: 100%;
    background: #F55C72;
    border: 0;
    color: #fff;
    margin-bottom: 15px;
    text-decoration: none;
    max-width: 80%;
    margin: 0 auto 15px;
    font-weight: 300;
    border-radius: 100px;
}
</style>