<template>
  <div>
    <el-menu background-color="#2f365f" active-text-color="#ffffff" text-color="#b2b7ff" class="sidebar-menu">
      <el-menu-item index="1" class="flex">
        <inertia-link class="flex items-center group" :href="path('dashboard')">
          <icon
            name="dashboard"
            class="w-4 h-4 mr-2"
            :class="isUrl('') ? 'fill-white' : 'fill-indigo-light group-hover:fill-white'"
          />
          <div v-if="!mini"
            :class="isUrl('') ? 'text-white' : 'text-indigo-lighter group-hover:text-white'"
          >Dashboard</div>
        </inertia-link>
      </el-menu-item>
      <el-menu-item index="4" class="flex">
        <inertia-link class="flex items-center group" :href="path('exams')">
          <icon
            name="office"
            class="w-4 h-4 mr-2"
            :class="isUrl('exams') ? 'fill-white' : 'fill-indigo-light group-hover:fill-white'"
          />
          <div v-if="!mini"
            :class="isUrl('exams') ? 'text-white' : 'text-indigo-lighter group-hover:text-white'"
          >Today's Exams</div>
        </inertia-link>
      </el-menu-item>
      <el-menu-item index="6" class="flex">
        <inertia-link class="flex items-center group" :href="path('reports')">
          <icon
            name="printer"
            class="w-4 h-4 mr-2"
            :class="isUrl('reports') ? 'fill-white' : 'fill-indigo-light group-hover:fill-white'"
          />
          <div v-if="!mini"
            :class="isUrl('reports') ? 'text-white' : 'text-indigo-lighter group-hover:text-white'"
          >Reports</div>
        </inertia-link>
      </el-menu-item>
      <el-menu-item index="6" class="flex">
        <inertia-link class="flex items-center group" :href="path('leaderboard')">
          <icon
            name="printer"
            class="w-4 h-4 mr-2"
            :class="isUrl('leaderboard') ? 'fill-white' : 'fill-indigo-light group-hover:fill-white'"
          />
          <div v-if="!mini"
            :class="isUrl('leaderboard') ? 'text-white' : 'text-indigo-lighter group-hover:text-white'"
          >Leaderboard</div>
        </inertia-link>
      </el-menu-item>
      <el-menu-item index="6" class="flex">
        <inertia-link class="flex items-center group" :href="path('support')">
          <icon
            name="book"
            class="w-4 h-4 mr-2"
            :class="isUrl('support') ? 'fill-white' : 'fill-indigo-light group-hover:fill-white'"
          />
          <div v-if="!mini"
            :class="isUrl('support') ? 'text-white' : 'text-indigo-lighter group-hover:text-white'"
          >Help Center</div>
        </inertia-link>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
import Icon from "@/Shared/Icon";

export default {
  props : {
    mini: {
      type: Boolean,
      default: false
    },
  },
  components: {
    Icon
  },
  data(){
    return{
      
    }
  },
  mounted(){
    //console.log(this.mini)
  },
  methods: {
    isUrl(...urls) {
      if (urls[0] === "") {
        return location.pathname.substr(1) === "";
      }
      return urls.filter(url => location.pathname.substr(1).startsWith(url)).length;
    }
  }
};
</script>

<style type="text/css">
  .sidebar-menu{
    border-right: 0px !important;
  }
  .sidebar-menu .el-menu-item{
    padding-right: 0 !important;
    padding-left:0 !important;
  }
  .sidebar-menu .el-menu-item > a{
    width:100%;
    padding:5px 20px !important;
  }
</style>