<template>
    <div class="flex flex-col flex-grow">
        <div class="flex-grow flex flex-col flex-wrap questions-listings relative">
            <div class="flex flex-wrap flex-grow mb-8 sm:mb-0">
                <div class="block w-full sm:w-1/2 question-pane p-4">
                    <p class="sm:mb-6 text-md sm:text-lg leading-loose" v-html="question.question" v-if="lang"></p>
                    <p class="sm:mb-6 text-md sm:text-lg leading-loose" v-html="question.question_hindi" v-else></p>
                </div>
                <div class="block w-full sm:w-1/2 options-pane sm:border-l border-grey-light p-4">
                    <!-- <p class="mb-5 font-medium">Options:</p> -->
                    <div v-if="question.type == 'radio'" class="pr-6 pb-8 w-full" >
                        <label class="form-label mt-2" required>Answer:</label>
                        <ul class="q-list">
                            <el-radio-group v-model="answer" v-if="lang" required>
                                <li v-for="(option, index) in question.options" :key="index" ><el-radio :label="index"><span  v-html="option" ></span></el-radio></li>
                            </el-radio-group>
                            <el-radio-group v-model="answer" v-else required>
                                <li v-for="(option, index) in question.options_hindi" :key="index" ><el-radio :label="index"><span  v-html="option" ></span></el-radio></li>
                            </el-radio-group>
                        </ul>
                    </div>
                    <div v-else class="pr-6 pb-8 w-full" >
                        <label class="form-label mt-2" required>Answers:</label>
                        <ul class="q-list">
                            <el-checkbox-group v-model="answerkeys" v-if="lang" required>
                                <li v-for="(option, index) in question.options" :key="index">
                                    <el-checkbox :label="index">
                                        <span v-html="option"></span>
                                    </el-checkbox>
                                </li>
                            </el-checkbox-group>
                            <el-checkbox-group v-model="answerkeys" v-else required>
                                <li v-for="(option, index) in question.options_hindi" :key="index">
                                    <el-checkbox :label="index">
                                        <span v-html="option"></span>
                                    </el-checkbox>
                                </li>
                            </el-checkbox-group>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="fixed pin-b w-full lg:relative responses flex justify-between p-4 border-t-2 z-10 bg-white">
                <button :class="css.btn2" @click="clearResponse">Clear Response</button>
                <button :class="css.btn" @click="submitAnswer">Save & Next</button>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data(){
        return{
            answer: '',
            answerkeys : '',
            multikeys : false,
            bookmark : false,
            css:{
                btn : "text-grey-darkest inline-block bg-indigo-dark hover:bg-indigo text-white px-4 py-2 rounded leading-tight text-sm",
                btn2 : "text-grey-darkest inline-block bg-grey-light hover:bg-grey text-black px-4 py-2 rounded leading-tight text-sm",
            
            }
        }
    },
    props:['question','question-number','lang'],
    created(){
        this.answer = this.answerkeys = null;
    },
    methods:{
        submitAnswer:function() {
            if(this.question.type == 'radio'){
                this.$emit('answer', {answer:this.answer});
            }else{
                this.$emit('answer', {answer:this.answerkeys});
            }
        },
        clearResponse:function() {
            this.answer = this.answerkeys = null;
        },
        submitBookmarks:function() {
            this.bookmark = !this.bookmark
            this.$emit('bookmark', {bookmark:this.bookmark});
        }
    },
    watch: { 
        question: function(x, y) { 
            this.answer = this.answerkeys = x.useranswers;
            this.bookmark = x.bookmark;
        }
    }
};
</script>

<style>
    .q-list{
        display: block;
        padding-left: 0;
    }
    .q-list li {
        display: block;
        width:100%;
        width: 100%;
        padding: 10px 0;
    }
    .q-list li .el-radio__label{
        display: inline-block;
    }
</style>
