<template>
  <div class="card-shadow bg-white w-full">
    <div class="flex justify-between items-center bg-indigo-darker px-4 py-5">
      <h4 class="text-white text-right">{{data.exam.name}}</h4>
      <i class="el-icon-s-flag text-white"></i>
    </div>
    <div class="block details px-4 py-6">
      <div class="flex mb-4">
        <div class="image mr-4">
            <img :src="'/avatars/'+ $page.auth.user.avatar" @error="defaultAvatar" :alt="$page.auth.user.first_name" class="w-12 h-12 rounded-full">
        </div>
        <div class="flex justify-center flex-col">
          <p class="block text-sm font-semibold mb-2 text-grey-darker">Your Ranking</p>
          <h3 class="block text-lg font-semibold" v-if="data.available" >{{data.user_rank}} among {{data.total_users}}</h3>
          <h3 class="block text-lg font-semibold" v-else>Result on {{data.a_on}}</h3>
        </div>
      </div>
      <el-collapse v-model="activeName" v-if="data.available" accordion>
        <el-collapse-item  name="1">
          <template slot="title">
            <h3 class="block text-base font-regular">Top Rankers</h3>
          </template>
          <div :class="css.list"  v-for="(list,key,i) in data.topS100" :key="key">
            <div class="flex items-center">
              <img :src="'avatars/'+ list.user.avatar"  @error="defaultAvatar"  :alt="list.user.first_name" class="w-8 h-8 mr-2 rounded-full">
              <p class="text-sm">{{list.user.first_name}} {{list.user.last_name}}</p>
            </div>
            <span :class="css.linkBtn">#{{i+1}}</span>
          </div>
        </el-collapse-item>
        <el-collapse-item name="2">
          <template slot="title">
            <h3 class="block text-base font-regular">Top 100 in your District</h3>
          </template>
          <div :class="css.list"  v-for="(list,key,i) in data.topD100" :key="key">
            <div class="flex items-center">
              <img :src="'avatars/'+ list.user.avatar" @error="defaultAvatar"  :alt="list.user.first_name" class="w-8 h-8 mr-2 rounded-full">
              <p class="text-sm">{{list.user.first_name}} {{list.user.last_name}}</p>
            </div>
            <span :class="css.linkBtn">#{{i+1}}</span>
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>
  </div>
</template>

<script>
export default {
  props:['data','role'],
  components: {

  },
  data(){
    return{
      activeName: '1',
      css :{
        linkBtn : 'text-grey-darkest inline-block bg-indigo-dark hover:bg-indigo text-white px-4 py-1 rounded-full leading-tight text-xs w-16 text-center',
        list : 'flex justify-between items-center text-grey-dark px-4 py-2 border-t border-grey-lightest'
      }
    }
  },
  methods: {
    defaultAvatar(event) {
      event.target.src = '/avatars/user.jpg'
    },
  }
}
</script>

<style scoped>

</style>
