<template>
  <div :class="className" v-html="time"></div>
</template>

<script>
export default {
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    data: {
      type: String,
      default: '00:00'
    },
    isStart : {
      type : Boolean,
      default : false
    }
  },
  data() {
    return {
      timerRunning: false,
      totalTime : 0,
      interval: null,
    }
  },
  mounted() {
    
    let t = this.data.split(':')
    let hour = parseInt(t[0])
    let minutes = parseInt(t[1])
    if(hour < 1)
      this.totalTime = minutes * 60
    else
      this.totalTime = ( hour * 60 + minutes ) * 60
    
    if(this.isStart == true)
      this.timerRun();
  },
  computed: {
    time: function() {
      return this.hour + " : " + this.minutes + " : " + this.seconds;
    },
    hour: function() {
      var hour = Math.floor(this.totalTime / 3600);
      return hour >= 10 ? hour : '0' + hour;
    },
    minutes: function() {
      var min = Math.floor( (this.totalTime / 60) - (this.hour * 60) );
      return min >= 10 ? min : '0' + min;
    },
    seconds: function() {
      var sec = this.totalTime - (this.hour * 3600) - (this.minutes * 60);
      return sec >= 10 ? sec : '0' + sec;
    }
  },
  methods: {
    timerRun() {
      this.timerRunning = true;
      this.interval = setInterval(this.countdownTimer, 1000);
    },
    countdownTimer() {
      if (this.timerRunning == true) {
          this.totalTime--;
          if(this.totalTime == 0){
            clearInterval(this.interval);
            this.$emit('timeup');
          }
      }
      
    }
  },
  watch :{
    // isStart : function(){
    //   console.log(this.isStart);
    //   this.timerRun()
    // }
  }
}
</script>