<template>
    <div class="ckeditor"><textarea :id="id" :value="value"></textarea></div>
</template>

<script>
import { isArray } from 'util';
export default {
    props: {
        value: {
            type: String
        },
        id: {
            type: String,
            default: 'editor'
        },
        height: {
            type: String,
            default: '90px',
        },
        language: {
            type: String,
            default: 'en'
        },
        extraplugins: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
            show: false,
        }
    },
    beforeUpdate() {
        const ckeditorId = this.id
        if (this.value !== CKEDITOR.instances[ckeditorId].getData()) {
            CKEDITOR.instances[ckeditorId].setData(this.value)
        }
    },
    mounted() {
        var path = window.location.origin + '/upload?type=Images&responseType=json&_token=';
        const ckeditorId = this.id
        const ckeditorConfig = {
            toolbar: [
                { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'RemoveFormat' ] },
                { name: 'paragraph', items: [ 'NumberedList', 'BulletedList','-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'Language' ] },
                { name: 'insert', items: [ 'Image', 'Table', 'HorizontalRule', 'SpecialChar'] },
                { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
                { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
                { name: 'math', items: [ 'Mathjax' ] }
            ],
            language: this.language,
            extraPlugins: 'mathjax,filebrowser,uploadimage,imagepaste,image2',
            mathJaxLib: '//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML',
            removePlugins: 'elementspath',
            resize_enabled: false,
            height: this.height,
            //uploadUrl : '/upload',
            // filebrowserUploadMethod: 'form',
            // filebrowserImageUploadUrl: path
            uploadUrl: '/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json',

            // Configure your file manager integration. This example uses CKFinder 3 for PHP.
            filebrowserBrowseUrl: '/plugins/ckfinder/ckfinder.html',
            filebrowserImageBrowseUrl: '/plugins/ckfinder/ckfinder.html?type=Images',
            filebrowserUploadUrl: '/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
            filebrowserImageUploadUrl: '/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
        }
        
        CKEDITOR.replace(ckeditorId, ckeditorConfig)
        CKEDITOR.instances[ckeditorId].setData(this.value)
        CKEDITOR.instances[ckeditorId].on('change', () => {
            let ckeditorData = CKEDITOR.instances[ckeditorId].getData()
            window.MathJax.Hub.Queue(["Typeset", window.MathJax.Hub]);

            if (ckeditorData !== this.value) {
                this.$emit('input', ckeditorData) 
            }

        });
        // CKEDITOR.instances[ckeditorId].on( 'fileUploadResponse', function( evt ) {
        //     evt.stop();

        //     // Get XHR and response.
        //     var data = evt.data,
        //         xhr = data.fileLoader.xhr;

        //     function extractMe(str,prefix, suffix) {
        //         var s = str;
        //         var i = s.indexOf(prefix);
        //         if (i >= 0) {
        //             s = s.substring(i + prefix.length);
        //         }
        //         else {
        //             return '';
        //         }
        //         if (suffix) {
        //             i = s.indexOf(suffix);
        //             if (i >= 0) {
        //                 s = s.substring(0, i);
        //             }
        //             else {
        //             return '';
        //             }
        //         }
        //         return s;
        //     };
        //     var x = extractMe(xhr.responseText,"<script>","<\/script>");
        //     var y = x.split('"')[1];
            
        //     var data = CKEDITOR.instances[ckeditorId].getData();
        //     console.log(data);
        // } );
    },
    destroyed() {
        const ckeditorId = this.id
        if (CKEDITOR.instances[ckeditorId]) {
            CKEDITOR.instances[ckeditorId].destroy()
        }
    }
}
</script>