<template>
  <layout title="Profile Info">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/4 sm:w-full lg:max-w-xs max-w-full">
        <div class="card-shadow border border-grey-light bg-grey-lightest">
          <inertia-link 
            class="text-xs block px-4 py-4 border-b border-grey-light font-semibold hover:bg-white" 
            :class="isUrl('/account') ? 'bg-white' : 'text-grey-dark'"
            :href="path('profile')">Profile Info</inertia-link>
          <inertia-link 
            class="text-xs block px-4 py-4 border-b border-grey-light font-semibold hover:bg-white" 
            :class="isUrl('/account/update') ? 'bg-white' : 'text-grey-dark'"
            :href="path('profile.update')">Account Settings</inertia-link>
          <inertia-link 
            class="text-xs block px-4 py-4 border-b border-grey-light font-semibold hover:bg-white" 
            :class="isUrl('/account/purchases') ? 'bg-white' : 'text-grey-dark'"
            :href="path('profile.purchases')">Purchases History</inertia-link>
          <inertia-link 
            class="text-xs block px-4 py-4 border-b border-grey-light font-semibold hover:bg-white" 
            :class="isUrl('/account/coupons') ? 'bg-white' : 'text-grey-dark'"
            :href="path('profile.coupons')">Coupons</inertia-link>
        </div>
      </div>
      
      <div class="w-full lg:w-3/4 lg:pl-8 sm:w-full msm:pl-0 mt-6 lg:mt-0">
        <div class="card-shadow border border-grey-light bg-grey-lightest bg-white px-6 py-4 lg:px-12 lg:py-10" v-if="isUrl('/account')">
          <div class="flex items-center py-6 pt-0 border-b border-grey-light">
            <img class="block h-16 sm:h-24 rounded-full mb-4 mr-4 sm:mb-0 sm:mr-4 sm:ml-0" :src="avatar" alt="" @error="defaultAvatar">
            <div class="text-center sm:text-left sm:flex-grow">
              <div class="mb-4">
                <p class="text-xl leading-tight">{{form.first_name}} {{form.last_name}}</p>
              </div>
              <div>
                <inertia-link class="text-grey-darkest inline-block bg-indigo-dark text-white px-4 py-1 rounded-full leading-tight text-xs" :href="path('profile.update')">Edit Details</inertia-link>
              </div>
            </div>
          </div>
          <div :class="css.inputContainer" class="border-b border-grey-light">
            <p :class="css.labelHolder">First Name</p>
            <p :class="css.inputHolder" class="pb-4 sm:pb-0">{{ form.first_name }}</p>
          </div>
          <div :class="css.inputContainer" class="border-b border-grey-light">
            <p :class="css.labelHolder">Last Name</p>
            <p :class="css.inputHolder" class="pb-4 sm:pb-0">{{ form.last_name }}</p>
          </div>
          <div :class="css.inputContainer" class="border-b border-grey-light">
            <p :class="css.labelHolder">Email</p>
            <p :class="css.inputHolder" class="pb-4 sm:pb-0">{{ form.email }}</p>
          </div>
          <div :class="css.inputContainer" class="border-b border-grey-light">
            <p :class="css.labelHolder">Phone</p>
            <p :class="css.inputHolder" class="pb-4 sm:pb-0">{{ form.phone }}</p>
          </div>
          <div :class="css.inputContainer">
            <p :class="css.labelHolder">Address</p>
            <p :class="css.inputHolder">{{ form.address }}, {{ form.district }}, {{ form.city }}, {{ form.state }}, - {{ form.pincode }}</p>
          </div>
        </div>
        <div class="card-shadow border border-grey-light bg-grey-lightest bg-white px-6 py-4 lg:px-12 lg:py-10" v-if="isUrl('/account/update')">
          <div class="flex items-center py-6 pt-0 border-b border-grey-light">
            <img class="block h-16 sm:h-24 rounded-full mr-4 mb-4 sm:mb-0 sm:mr-4 sm:ml-0" :src="avatar" alt="" @error="defaultAvatar">
            <div class="text-center sm:text-left sm:flex-grow">
              <div class="mb-4">
                <p class="text-xl leading-tight">{{form.first_name}} {{form.last_name}}</p>
              </div>
              <div class="flex">
                <input type="file" name="avatar" id="avatar" ref="avatar" v-on:change="handleFileUpload()" class="absolute opacity-0 w-1 h-1">
                <label for="avatar" class="text-grey-darkest flex items-center bg-indigo-dark text-white px-4 py-1 rounded-full leading-tight text-xs cursor-pointer float-left mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" class="w-3 mr-1 fill-white"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> <span v-html="fileName"></span></label>
                <button v-if="showSave" class="flex text-grey-darkest bg-indigo-dark text-white px-4 py-1 rounded-full leading-tight text-xs" v-on:click="submitFile()"><i class="btn-spinner mr-2" v-if="saving"></i>Save</button>
              </div>
            </div>
          </div>
           <div :class="css.inputContainer">
            <p :class="css.labelHolder">First Name</p>
            <p :class="css.inputHolder"><input :class="css.input" type="text" :placeholder="form.first_name" v-model="form.first_name"></p>
          </div>
           <div :class="css.inputContainer">
            <p :class="css.labelHolder">Last Name</p>
            <p :class="css.inputHolder"><input :class="css.input" type="text" :placeholder="form.last_name" v-model="form.last_name"></p>
          </div>
           <div :class="css.inputContainer">
            <p :class="css.labelHolder">Email</p>
            <p :class="css.inputHolder">
              <input :class="css.input" type="text" :value="form.email" class="cursor-not-allowed"  disabled>
            </p>
          </div>
           <div :class="css.inputContainer">
            <p :class="css.labelHolder">Phone</p>
            <p :class="css.inputHolder">
              <input :class="css.input" type="text" :placeholder="form.phone" v-model="form.phone">
            </p>
          </div>
           <div :class="css.inputContainer">
            <p :class="css.labelHolder">State</p>
            <p :class="css.inputHolder">
              <el-select v-model="form.state" filterable :placeholder="form.state" :class="css.select" @change="updateCities">
                <el-option v-for="state in states" :key="state" :label="state" :value="state"></el-option>
              </el-select>
            </p>
          </div>
           <div :class="css.inputContainer">
            <p :class="css.labelHolder">City</p>
            <p :class="css.inputHolder">
              <el-select v-model="form.city" filterable :placeholder="form.city" :class="css.select" @change="updateDistricts">
                <el-option v-for="(city,i) in cities" :key="city+i" :label="city" :value="city"></el-option>
              </el-select>
            </p>          
          </div>
           <div :class="css.inputContainer">
            <p :class="css.labelHolder">District</p>
            <p :class="css.inputHolder">
              <el-select v-model="form.district" filterable :placeholder="form.district" :class="css.select">
                <el-option v-for="district in districts" :key="district" :label="district" :value="district"></el-option>
              </el-select>
            </p>          
          </div>
           <div :class="css.inputContainer">
            <p :class="css.labelHolder">Address</p>
            <p :class="css.inputHolder"><textarea row="3" :class="css.input" class="h-24" :placeholder="form.address" v-model="form.address"></textarea>
            </p>
          </div>
           <div :class="css.inputContainer">
            <p :class="css.labelHolder">Pincode</p>
            <p :class="css.inputHolder"><input :class="css.input" type="text" :placeholder="form.pincode" v-model="form.pincode"></p>
          </div>
          <div :class="css.inputContainer">
            <button class="inline-block bg-transparent text-grey-dark font-semibold py-2 px-4 border-2 border-grey hover:border-grey-dark hover:text-grey-dark rounded-full text-sm" v-on:click="updateDetails()">Save</button>
            <inertia-link class="inline-block bg-transparent text-grey-dark font-semibold py-2 px-4 border-2 border-grey hover:border-grey-dark hover:text-grey-dark rounded-full text-sm" :href="path('reset-password')" method="post">Reset Password</inertia-link>
          </div>
        </div>
        <div class="card-shadow border border-grey-light bg-grey-lightest bg-white p-6" v-if="isUrl('/account/purchases')">
          <el-table :data="purchasesData" style="width: 100%;padding:0px 15px;">
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column label="Name" prop="name" sortable></el-table-column>
            <el-table-column label="Purchased On" prop="purchased_on"></el-table-column>
          </el-table>
        </div>
        <div class="card-shadow border border-grey-light bg-grey-lightest bg-white p-6" v-if="isUrl('/account/coupons')">
          <el-table :data="couponsData" style="width: 100%;padding:0px 15px;">
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column label="Coupon" prop="code" sortable></el-table-column>
            <el-table-column label="Description" prop="description" sortable></el-table-column>
            <el-table-column label="Expired On" prop="expires_on"></el-table-column>
          </el-table>
        </div>
      </div>
    
    </div>
  </layout>
</template>

<script>
import _ from 'lodash'
import Layout from '@/Shared/Student/Layout'
import LoadingButton from '@/Shared/LoadingButton'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'
import TrashedMessage from '@/Shared/TrashedMessage'
import axios from 'axios'
import Location from '@/Shared/locations.json'
import Cities from '@/Shared/cities.json'

export default {
  components: {
    Layout,
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
  },
  props: {
    user: Object,
    purchases: Object,
    packages: Array
  },
  remember: 'form',
  data() {
    return {
      sending: false,
      purchasesData : [],
      couponsData : [],
      fileName : 'Upload New',
      showSave : false,
      saving : false,
      css :{
        inputContainer : 'flex items-start py-6 text-md font-medium text-grey-dark flex-col sm:flex-row pb-2 md:pb-6',
        labelHolder : 'w-48 lg:w-64 mb-4 md:mb-0',
        inputHolder : 'w-full max-w-md',
        input : 'bg-grey-lightest rounded appearance-none bg-transparent text-grey-darker p-2 leading-tight focus:outline-none border border-grey-light w-full',
        select : 'bg-grey-lightest rounded text-grey-darker leading-tight focus:outline-none w-full',
      },
      avatar : '/avatars/'+ this.user.avatar,
      form: {
        first_name: this.user.first_name,
        last_name: this.user.last_name,
        email: this.user.email,
        phone: this.user.phone,
        address: this.user.address,
        avatar : '/avatars/'+ this.user.avatar,
        city : this.user.city,
        district : this.user.district,
        state : this.user.state,
        pincode : this.user.pincode
      },
      locations : Location,
      citiesJson : Cities,
      states : [],
      cities : [],
      districts : []
    }
  },
  mounted(){
    let $this = this;
    this.getPurchases();

    this.getCoupons()

    _.forEach(this.locations,function(data,state){
      $this.states.push(state);
    });

    _.forEach(this.citiesJson,function(data){
      $this.cities.push(data.name);
    });

  },
  methods: {
    defaultAvatar(event) {
      this.avatar = '/avatars/user.jpg'
    },
    getPurchases(){
      let $this = this;
      _.forEach($this.purchases,function(data){
        let pid = data.package_id;
        let pkg = _.filter($this.packages, function(o) { 
            return pid == o.wp_id
        }).map(a => a.name);
        data.name = pkg[0]
        $this.purchasesData.push(data);
      });

    },
    getCoupons(){
      let $this = this;
      let myHeaders = new Headers();
      myHeaders.append("Authorization", "Basic Y2tfZWZmMDM0YjVkZGRmYTVhNWQ5NDRiZjZjNTQ1Njk0YjZkNGQyNmIxZDpjc18xNGFmNDk2NDMxYjRkNzlhODQ0NGYwYzQ2ZjkzNjZhNGI5NWM3ZjQ3");

      let requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
      };

      fetch("https://uppariksha.com/wp-json/wc/v3/coupons", requestOptions)
        .then(response => response.json())
        .then(result => $this.couponsData = result )
        .catch(error => console.log('error', error));
    },
    submit() {
      this.sending = true
      this.$inertia.put(this.path('users.update', this.user.id), this.form)
        .then(() => this.sending = false)
    },
    isUrl(...urls) {
      if (urls[0] === location.pathname) {
        return true
      }
    },
    updateCities(){
      let $this = this;
      $this.cities = [];
      $this.form.city = null;
      _.forEach(this.citiesJson,function(data){
        if(data.state == $this.form.state)
          $this.cities.push(data.name);
      });
    },
    updateDistricts(){
      let $this = this;
      $this.districts = [];
      $this.form.district = null;
      _.forEach(this.locations,function(data,state){
        if(state == $this.form.state)
          $this.districts = data;
      });
    },
    updateDetails(){
      let $this = this;
      let hasEmptyValues = false;

      for(var key in $this.form) {
        if($this.form[key] === "" || $this.form[key] === null) {
           hasEmptyValues = true;
           break;
        }
      }

      if(hasEmptyValues){
        $this.$notify({
          title: 'Warning',
          message: 'Please fill all fields!',
          type: 'warning'
        });
        return;
      }
      
      $this.$notify.info({
        title: 'Info',
        message: 'Updating Please wait!',
      });

      

      this.$inertia.post(this.path('profile.update'),  this.form ).then(() =>  
        $this.$notify({
          title: 'Success',
          message: 'Profile Details Updated Successfully!',
          type: 'success'
        })
      )
    },
    submitFile(){
      let $this = this;
      $this.saving = true;
      let formData = new FormData();
      formData.append('avatar', this.form.avatar);
      axios.post('/account/avatar', formData , {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then(function(data){
        $this.saving = false;
        $this.$notify({
          title: 'Success',
          message: 'Profile Picture Updated Successfully!',
          type: 'success'
        });
        $this.fileName = 'Upload New';
        $this.showSave = false;
      })
      .catch(function(data){
        $this.$notify.error({
          title: 'Error',
          message: 'Something went wrong!',
        });
      });
    },
    handleFileUpload(){
      let $this = this;
      $this.showSave = true;
      let avatar = this.$refs.avatar.files[0];
      $this.form.avatar = this.$refs.avatar.files[0];
      $this.fileName = avatar.name;
      let reader  = new FileReader();
      reader.addEventListener("load", function () {
        $this.avatar = reader.result;
      }, false);
      if (avatar) {
        reader.readAsDataURL(avatar);
      }
    }
  },
}
</script>
