<template>
  <layout title="Help Center">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/4 sm:w-full lg:max-w-xs max-w-full">
        <div class="card-shadow border border-grey-light bg-grey-lightest">
          <inertia-link 
            class="text-xs block px-4 py-4 border-b border-grey-light font-semibold hover:bg-white" 
            :class="isUrl('/support') ? 'bg-white' : 'text-grey-dark'"
            :href="path('support')">FAQ</inertia-link>
            <a 
            class="text-xs block px-4 py-4 border-b border-grey-light font-semibold hover:bg-white" 
            :class="isUrl('/support/contact') ? 'bg-white' : 'text-grey-dark'"
            href="https://uppariksha.com/contact/" target="_blank">Contact Us</a>
        </div>
      </div>
      
      <div class="w-full lg:w-3/4 lg:pl-8 sm:w-full msm:pl-0 mt-6 lg:mt-0">
        <div class="card-shadow border border-grey-light bg-grey-lightest bg-white px-6 py-4 lg:px-12 lg:py-10" v-if="isUrl('/support')">
          <div class="block mb-6">
            <h1 class="mb-4 font-bold text-3xl">FAQ</h1>
            <p>These are frequently asked questions.</p>
          </div>
          <div class="faqs">
            <Accordion 
              title="Massa vitae tortor condimentum lacinia quis vel eros donec" 
              content="vitae tortor condimentum lacinia quis vel eros donec vitae tortor condimentum lacinia quis vel eros donec vitae tortor condimentum lacinia quis vel eros donec"
            ></Accordion>
            <Accordion 
              title="Massa vitae tortor condimentum lacinia quis vel eros donec" 
              content="vitae tortor condimentum lacinia quis vel eros donec vitae tortor condimentum lacinia quis vel eros donec vitae tortor condimentum lacinia quis vel eros donec"
            ></Accordion>
            <Accordion 
              title="Massa vitae tortor condimentum lacinia quis vel eros donec" 
              content="vitae tortor condimentum lacinia quis vel eros donec vitae tortor condimentum lacinia quis vel eros donec vitae tortor condimentum lacinia quis vel eros donec"
            ></Accordion>
            <Accordion 
              title="Massa vitae tortor condimentum lacinia quis vel eros donec" 
              content="vitae tortor condimentum lacinia quis vel eros donec vitae tortor condimentum lacinia quis vel eros donec vitae tortor condimentum lacinia quis vel eros donec"
            ></Accordion>
            <Accordion 
              title="Massa vitae tortor condimentum lacinia quis vel eros donec" 
              content="vitae tortor condimentum lacinia quis vel eros donec vitae tortor condimentum lacinia quis vel eros donec vitae tortor condimentum lacinia quis vel eros donec"
            ></Accordion>
            <Accordion 
              title="Massa vitae tortor condimentum lacinia quis vel eros donec" 
              content="vitae tortor condimentum lacinia quis vel eros donec vitae tortor condimentum lacinia quis vel eros donec vitae tortor condimentum lacinia quis vel eros donec"
            ></Accordion>
          </div>
        </div>
      </div>
    
    </div>
  </layout>
</template>

<script>
import _ from 'lodash'
import Layout from '@/Shared/Student/Layout'
import LoadingButton from '@/Shared/LoadingButton'
import SelectInput from '@/Shared/SelectInput'
import Accordion from '@/Shared/Accordin'
import TextInput from '@/Shared/TextInput'
import TrashedMessage from '@/Shared/TrashedMessage'
import axios from 'axios'
import Location from '@/Shared/locations.json'
import Cities from '@/Shared/cities.json'

export default {
  components: {
    Layout,
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
    Accordion
  },
  props: {
   
  },
  remember: 'form',
  data() {
    return {
  
    }
  },
  mounted(){
  

  },
  methods: {
    isUrl(...urls) {
      if (urls[0] === location.pathname) {
        return true
      }
    }
  }
}
</script>
