<template>
  <div>
    <article class="border-b" :class="classes">
      <div class="">
          <header class="flex justify-between items-center py-5 cursor-pointer select-none" @click.prevent="active = !active">
              <span class="font-thin text-lg" :class="active ? 'text-indigo' : 'text-grey-darkest'">
                  {{title}}
              </span>
              <div v-if="!active" class="rounded-full border border-grey w-7 h-7 flex items-center justify-center">
                  <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <polyline points="6 9 12 15 18 9">
                      </polyline>
                  </svg>
              </div>
              <div v-else class="rounded-full border border border-indigo w-7 h-7 flex items-center justify-center bg-indigo">
                  <!-- icon by feathericons.com -->
                  <svg aria-hidden="true" data-reactid="281" fill="none" height="24" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <polyline points="18 15 12 9 6 15">
                      </polyline>
                  </svg>
              </div>
          </header>
          <div v-show="active">
              <div class="pb-5 text-grey-dark leading-normal">
                <p class="text-lg">{{content}}</p>
              </div>
          </div>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  props: {
    title : String,
    content : String,
    classes : String
  },
  data() {
    return {
      active: false,
    }
  },
  methods: {
   
  },
}
</script>
