<template>
  <div>
    <portal-target name="dropdown" slim />
    <div class="flex flex-col">
      <div class="min-h-screen flex flex-col" @click="hideDropdownMenus">
        <div class="md:flex">
          <div class="bg-indigo-darkest md:flex-no-shrink flex items-center justify-start" :class="(sidebar == true ? 'md:w-16  px-4 py-3 ' : 'md:w-56 py-4 px-6')">
            <dropdown class="md:hidden" placement="bottom-end">
              <svg class="fill-white w-5 h-5 mr-4 mt-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
              <div slot="dropdown" class="mt-2 px-8 py-4 shadow-lg bg-indigo-darker rounded">
                <MainMenu/>
              </div>
            </dropdown>
            <inertia-link href="/">
              <LogoSmall class="fill-white" v-if="sidebar" width="40" height="28" />
              <Logo class="fill-white" v-if="!sidebar" width="120" height="28" />
            </inertia-link>
          </div>
          <div class="bg-white border-b w-full p-4 md:py-0 md:px-12 text-sm md:text-base flex justify-between items-center md:pl-4">
            <div class="mr-4 flex justify-center items-center">
              <svg @click="toggleSidebar" class="hidden md:inline-block fill-grey-dark w-4 h-4 mr-4 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
              <span class="inline-block">Welcome {{ $page.auth.user.first_name }}</span>
            </div>
            <div class="flex items-center">
              <dropdown placement="bottom-end" class="mr-2" >
                <div class="flex items-center cursor-pointer select-none group">
                  <div class="text-grey-darkest group-hover:text-indigo-dark focus:text-indigo-dark mr-1 whitespace-no-wrap">
                    <img class="w-8 h-8 rounded-full" :src="'/avatars/'+ $page.auth.user.avatar" @error="defaultAvatar" alt="Settings">
                  </div>
                  <icon class="w-5 h-5 group-hover:fill-indigo-dark fill-grey-darkest focus:fill-indigo-dark" name="cheveron-down" />
                </div>
                <div slot="dropdown" class="mt-2 py-1 shadow-md bg-white rounded text-sm border border-grey-light">
                  <inertia-link class="block px-6 py-2 bg-white border-b border-grey-light" :href="path('profile')">
                    <p class="font-semibold mb-1 text-sm">{{ $page.auth.user.first_name }}</p>
                    <span class="inline-block font-medium text-xs mb-1">View Profile</span>
                  </inertia-link>
                  <inertia-link class="text-xs block px-6 py-3 bg-theme-color hover:bg-white border-b border-grey-light" :href="path('profile.update')">Account Settings</inertia-link>
                  <inertia-link class="block px-6 py-3 bg-white text-xs" :href="path('logout')" method="post">Signout</inertia-link>
                </div>
              </dropdown>
              <dropdown placement="bottom-end">
                <div class="flex items-center cursor-pointer select-none group">
                  <div class="text-grey-darkest group-hover:text-indigo-dark focus:text-indigo-dark mr-1 whitespace-no-wrap">
                    <i class="el-icon-message-solid text-lg"></i>
                  </div>
                </div>
                <div slot="dropdown" class="mt-2 pt-1 shadow-md bg-white rounded text-sm border border-grey-light overflow-hidden">
                  <inertia-link class="block px-6 py-2 bg-white border-b border-grey-light" :href="path('profile')">
                    <p class="font-semibold mb-1 text-sm">Notifications</p>
                  </inertia-link>
                  <span class="text-xs block px-6 py-3 bg-theme-color hover:bg-white border-b border-grey-light">
                      <div class="mb-2 flex items-center">
                        <p class="block font-semibold text-sm">No New Notifications for admin</p>
                      </div>
                  </span>
                  <inertia-link class="flex justify-between items-center px-6 py-3 bg-white hover:bg-grey-lightest" :href="path('profile')">
                    <p class="font-semibold text-xs">View All Notifications</p>
                    <i class="el-icon-position text-md"></i>
                  </inertia-link>
                </div>
              </dropdown>
            </div>
          </div>
        </div>
        <div class="flex flex-grow">
          <div class="bg-indigo-darker flex-no-shrink hidden md:block menu-wrapper" :class="[menuclass, (sidebar == true ? 'w-16' : 'w-56')]">
            <main-menu :mini="sidebar"/>
          </div>
          <div class="w-full overflow-hidden px-4 py-8 md:p-12" :class="title + '-wrapper' ">
            <flash-messages />
            <slot />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Dropdown from '@/Shared/Dropdown'
import FlashMessages from '@/Shared/FlashMessages'
import Icon from '@/Shared/Icon'
import Logo from '@/Shared/Logo'
import LogoSmall from '@/Shared/LogoSmall'
import MainMenu from '@/Shared/MainMenu'

export default {
  components: {
    Dropdown,
    FlashMessages,
    Icon,
    Logo,
    LogoSmall,
    MainMenu,
  },
  props: {
    title: String,
  },
  data() {
    return {
      showUserMenu: false,
      menuclass : '',
      sidebar : JSON.parse(localStorage.getItem("minimenu")) || false
    }
  },
  watch: {
    title(title) {
      this.updatePageTitle(title)
      this.checkMenu();
    },
    sidebar: function() {
			localStorage.setItem("minimenu", JSON.stringify(this.sidebar));
		}
  },
  mounted() {
    this.updatePageTitle(this.title)
    this.checkMenu();
    this.checkViewport();
  },
  methods: {
    defaultAvatar(event) {
      event.target.src =  '/avatars/user.jpg'
    },
    updatePageTitle(title) {
      document.title = title ? `${title} | ${this.$page.app.name}` : this.$page.app.name
    },
    hideDropdownMenus() {
      this.showUserMenu = false
    },
    toggleSidebar(){
      this.sidebar = !this.sidebar
    },
    checkMenu(){
      if(this.title == "Solution"){
        this.menuclass = 'md:hidden'
      } else{
        this.menuclass = ''
      }
    },
    checkViewport(){
      if(window.location.href.indexOf("/exam/") > -1){
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)   ) {
          var ww = window.screen.width;
          var mw = 1024; // min width of site
          var ratio =  ww / mw; //calculate ratio
          var viewport_meta_tag = document.getElementsByName('viewport')[0];
          if( ww < mw){ //smaller than minimum size
            viewport_meta_tag.setAttribute('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=no, width=' + mw);
          }
          else { //regular size
            viewport_meta_tag.setAttribute('content', 'initial-scale=1.0, maximum-scale=1');
          }
        }
      }
    }
  },
}
</script>
