<template>
<div>
<mathlive-mathfield  id='mf' ref="mathfield" class="w-full input pr-6 pb-8" style="max-width: 1240px;"
    :config="{
        smartFence:false,
        ignoreSpacebarInMathMode:true,
        virtualKeyboardMode: 'onfocus',
        virtualKeyboardTheme : 'material'
    }"  v-model="input"></mathlive-mathfield>
</div>
</template>

<script>
export default {
  data () {
    return {
            input: '',
        }
    }
}
</script>

<style scoped>
  @import 'https://cdn.jsdelivr.net/npm/mathlive@0.29.1/dist/mathlive.core.css';
  @import 'https://cdn.jsdelivr.net/npm/mathlive@0.29.1/dist/mathlive.css';
</style>