<template>
  <el-row :gutter="40" class="panel-group">
    <el-col :xs="24" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel">
        <div class="card-panel-icon-wrapper icon-people">
          <icon name="students" class="w-12 h-12 mr-1 fill-indigo-light group-hover:fill-white"/>
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">Total Students</div>
          <count-to :start-val="0" :end-val="students" :duration="2600" class="card-panel-num"/>
        </div>
      </div>
    </el-col>
    <el-col :xs="24" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel">
        <div class="card-panel-icon-wrapper icon-message">
          <icon name="exams" class="w-12 h-12 mr-1 fill-indigo-light group-hover:fill-white"/>
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">Exams Conducted</div>
          <count-to :start-val="0" :end-val="exams" :duration="3000" class="card-panel-num"/>
        </div>
      </div>
    </el-col>
    <el-col :xs="24" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel">
        <div class="card-panel-icon-wrapper icon-money">
          <icon name="purchases" class="w-12 h-12 mr-1 fill-indigo-light group-hover:fill-white"/>
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">Purchases</div>
          <count-to :start-val="0" :end-val="9280" :duration="3200" class="card-panel-num"/>
        </div>
      </div>
    </el-col>
    <el-col :xs="24" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel">
        <div class="card-panel-icon-wrapper icon-shopping">
          <icon name="shoppings" class="w-12 h-12 mr-1 fill-indigo-light group-hover:fill-white"/>
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">Shoppings</div>
          <count-to :start-val="0" :end-val="13600" :duration="3600" class="card-panel-num"/>
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<script>
import CountTo from 'vue-count-to'
import Icon from '@/Shared/Icon'

export default {
  components: {
    CountTo,
    Icon
  },
  methods: {
    
  },
  props : ['students','exams']
}
</script>

<style scoped>
  .panel-group {
    margin: 18px -20px 0 !important;
  }

  @media (max-width:768px) {
    .panel-group {
      margin: 18px 0px 0 !important;
    }
  }
 .panel-group .card-panel-col {
   margin-bottom: 20px;
   padding:0px 5px !important;
  }
 .panel-group .card-panel {
    height: 108px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    display: flex;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .05);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

 .panel-group .card-panel .card-panel-icon-wrapper {
	 padding: 0px;
}
 .panel-group .card-panel .card-panel-icon {
	 float: left;
	 font-size: 48px;
}
 .panel-group .card-panel .card-panel-description {
	 margin: 0px;
   font-weight: bold;
   text-align: center;
}

@media (max-width: 768px){
  .panel-group .card-panel .card-panel-description {
    text-align: right;
  }
}
 .panel-group .card-panel .card-panel-description .card-panel-text {
	 line-height: 18px;
	 color: rgba(0, 0, 0, 0.45);
	 font-size: 16px;
	 margin-bottom: 12px;
}
 .panel-group .card-panel .card-panel-description .card-panel-num {
	 font-size: 20px;
}

@media only screen and (min-width: 1300px){
  .panel-group {
    margin: 18px -30px 0 !important;
  }
  .panel-group .card-panel-col {
    margin-bottom: 32px;
    padding:0px 15px !important;
  }
}
</style>
