<template>
  <div class="card-shadow bg-white w-full">
    <div class="flex justify-between items-center bg-indigo-darker px-4 py-5">
      <h4 class="text-white text-right">{{data.exam.name}}</h4>
      <i class="el-icon-s-flag text-white"></i>
    </div>
    <div class="block details px-4 py-6">
      <div class="flex mb-4">
        <div class="image mr-4">
            <img :src="'avatars/'+ first.user.avatar" @error="defaultAvatar" :alt="first.user.first_name" class="w-12 h-12 rounded-full">
        </div>
        <div class="flex justify-center flex-col">
          <inertia-link :href="path('result.show', first.id)">
            <h3 class="block text-lg font-semibold mb-2 ">{{first.user.first_name}} {{first.user.last_name}}</h3>
          </inertia-link>
          <p class="block text-sm font-semibold text-grey-darker">#1 Rank Holder among {{data.total}}</p>
        </div>
      </div>
      <el-collapse v-model="activeName" accordion>
        <el-collapse-item name="1">
          <template slot="title">
            <h3 class="block text-base font-regular">Top Rankers</h3>
          </template>
          <div :class="css.list"  v-for="(list,index) in getTopData" :key="index">
            <div class="flex items-center" >
              <img :src="'avatars/'+ list.user.avatar" :alt="list.user.first_name" class="w-8 h-8 mr-2 rounded-full">
              <inertia-link :href="path('result.show', list.id)"><p class="text-sm">{{list.user.first_name}} {{list.user.last_name}}</p></inertia-link>
            </div>
            <span :class="css.linkBtn">#{{index+1}}</span>
          </div>
        </el-collapse-item>
      </el-collapse>
      
    </div>
  </div>
</template>

<script>
export default {
  props:['data','role'],
  components: {

  },
  data(){
    return{
      activeName: '',
      css :{
        linkBtn : 'text-grey-darkest inline-block bg-indigo-dark hover:bg-indigo text-white px-4 py-1 rounded-full leading-tight text-xs w-16 text-center',
        list : 'flex justify-between items-center text-grey-dark px-4 py-2 border-t border-grey-lightest'
      },
      first : this.data.top100[Object.keys(this.data.top100)[0]]
    }
  },
  mounted() {
    //this.test();
    console.log(this.first);  
  },
  methods: {
    defaultAvatar(event) {
      event.target.src = '/avatars/user.jpg'
    },
  },
  computed:{
      getTopData(){
        let key = Object.keys(this.data.top100)[0];
        const arr = _.filter(this.data.top100, function(o,i) { return i != key; });
        return arr;
      }
  }
}
</script>

<style scoped>

</style>
