<template>
  <div>
    <label v-if="label" class="form-label" :for="id">{{ label }}:</label>
    <el-input :id="id" ref="input" type="textarea" :rows="4" placeholder="Add your question" v-bind="$attrs" :class="{ error: errors.length }" :value="value" @input="$emit('input', $event.target.value)"></el-input>
    <div v-if="errors.length" class="form-error">{{ errors[0] }}</div>
  </div>
</template>

<script>
import autosize from 'autosize'

export default {
  inheritAttrs: false,
  props: {
    id: {
      type: String,
      default() {
        return `textarea-input-${this._uid}`
      },
    },
    value: String,
    label: String,
    errors: {
      type: Array,
      default: () => [],
    },
    autosize: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    if (this.autosize) {
      autosize(this.$refs.input)
    }
  },
  methods: {
    focus() {
      this.$refs.input.focus()
    },
    select() {
      this.$refs.input.select()
    },
  },
}
</script>
