<template>
  <layout title="Exams">
    <div class="block">
      <div class="block mb-10" v-if="specificExamsData.length">
        <div class="sec-title mb-2 block w-full">
          <h4 class="package-title w-full mb-2 text-left">Your Exams</h4>
          <p class="package-subtitle">Refine and strengthen your skills with these practice exercises.</p>
        </div>
        <div class="flex flex-wrap -mx-6">
          <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/3 p-6 md:px-4" v-for="(exam,index) in specificExamsData" :key="index">
            <ExamCard :data="exam" btn="true"/>
          </div>
        </div>
      </div>
      <div v-if="Object.keys(examsData).length > 0">
        <div class="block mb-10" v-for="(pkg, key) in examsData" :key="key">
          <div class="sec-title mb-2 block w-full">
            <h4 class="package-title w-full mb-2 text-left">{{key}}</h4>
            <p class="package-subtitle">Refine and strengthen your skills with these practice exercises.</p>
          </div>
          <div class="flex flex-wrap -mx-6" v-if="pkg.length > 0">
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/3 p-6 md:px-4" v-for="(exam,index) in pkg" :key="index">
              <ExamCard :data="exam"/>
            </div>
          </div>
          <div v-else>
            <p class="package-subtitle">Your upcoming exams will be avilale soon and will be notified</p>
          </div>
        </div>
        <div class="mt-4 block w-full">
          <p class="package-subtitle font-semibold">Check out more packages for your practice at <a href="http://uppariksha.com"  target="_blank" class="rembtn underline">uppariksha.com</a></p>
        </div>
      </div>
      <div v-else>
        <div class="sec-title mb-2 block w-full">
          <h4 class="package-title w-full mb-2 text-left">No Exam's today.</h4>
          <p class="package-subtitle">Looks like no exams scheduled in your selected package today. Check more packages at <a href="http://uppariksha.com"  target="_blank" class="rembtn underline">Check the packages now.</a></p>
        </div>
      </div>
      <div v-if="Object.keys(upcomingExamsData).length > 0" class="pt-6 ">
        <div class="sec-title mb-2 block w-full border-b">
          <h4 class="package-title w-full mb-2 text-left">Upcoming Exams</h4>
        </div>
      </div>
      <div v-if="Object.keys(upcomingExamsData).length > 0">
        <div class="block mb-10" v-for="(pkg, key) in upcomingExamsData" :key="key">
          <div class="flex flex-wrap -mx-6" v-if="pkg.length > 0">
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/3 p-6 md:px-4" v-for="(exam,index) in pkg" :key="index">
              <ExamCard :data="exam" btn="false"/>
            </div>
          </div>
        </div>
      </div>
      <div v-if="Object.keys(prevExamsData).length > 0" class="pt-6 ">
        <div class="sec-title mb-2 block w-full border-b">
          <h4 class="package-title w-full mb-2 text-left">Previous Exams</h4>
        </div>
      </div>
      <div v-if="Object.keys(prevExamsData).length > 0">
        <div class="block mb-10" v-for="(pkg, key) in prevExamsData" :key="key">
          <div class="flex flex-wrap -mx-6" v-if="pkg.length > 0">
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/3 p-6 md:px-4" v-for="(exam,index) in pkg" :key="index">
              <ExamCard :data="exam" prev="true" btn="true"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </layout> 
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Student/Layout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'
import ExamCard from '@/Shared/Student/ExamCard'

export default {
  components: {
    Icon,
    Layout,
    Pagination,
    SearchFilter,
    ExamCard
  },
  props: {
    exams: Array,
    upcoming: Array,
    subjects : Array,
    packages : Array,
    exams_taken : Array,
    specific_exams :Array,
    prev_exams :Array,
    profile_update : Boolean
  },
  data() {
    return {
      examsData : '',
      specificExamsData : '',
      upcomingExamsData : '',
      prevExamsData : ''
    }
  },
  mounted(){
    this.fetchData();
  },
  watch: {

  },
  methods: {
    fetchData(){

      let exams = []
      let sexams = []
      let uexams = []
      let pexams = []
      let $this = this
      
      _.forEach($this.exams,function(data){

        let sids = data.subjects_ids;
        let subjects = _.filter($this.subjects, function(o) { 
            return sids.includes(o.id)
        }).map(a => a.name);

        let pid = data.package_id;
        let pkg_name = _.filter($this.packages, function(o) { 
            return pid == o.id
        }).map(a => a.name)[0];

        let eid = data.id;
        let rep = _.filter($this.exams_taken, function(o) { 
            return eid == o.exam_id
        });

        let t = data.time.split(':')
        let hour = parseInt(t[0])
        let minutes = parseInt(t[1])
        if(hour < 1)
          data.time = minutes + ' minutes'
        else if( minutes > 0)
          data.time = hour + ' hour '+minutes + ' minutes'
        else
          data.time = hour + ' hour '

        rep = rep[rep.length-1]
        if(rep){
          data.attempted = true
          data.result = rep.id
        } else{
          data.attempted = false
        }
        data.subjects = subjects
        data.package = pkg_name
        exams.push(data);
      });

      _.forEach($this.upcoming,function(data){

        let sids = data.subjects_ids;
        let subjects = _.filter($this.subjects, function(o) { 
            return sids.includes(o.id)
        }).map(a => a.name);

        let pid = data.package_id;
        let pkg_name = _.filter($this.packages, function(o) { 
            return pid == o.id
        }).map(a => a.name)[0];

        let eid = data.id;
        let rep = _.filter($this.exams_taken, function(o) { 
            return eid == o.exam_id
        });

        let t = data.time.split(':')
        let hour = parseInt(t[0])
        let minutes = parseInt(t[1])
        if(hour < 1)
          data.time = minutes + ' minutes'
        else if( minutes > 0)
          data.time = hour + ' hour '+minutes + ' minutes'
        else
          data.time = hour + ' hour '

        rep = rep[rep.length-1]
        if(rep){
          data.attempted = true
          data.result = rep.id
        } else{
          data.attempted = false
        }
        data.subjects = subjects
        data.package = pkg_name
        uexams.push(data);
      });

      _.forEach($this.prev_exams,function(data){

        let sids = data.subjects_ids;
        let subjects = _.filter($this.subjects, function(o) { 
            return sids.includes(o.id)
        }).map(a => a.name);

        let pid = data.package_id;
        let pkg_name = _.filter($this.packages, function(o) { 
            return pid == o.id
        }).map(a => a.name)[0];

        let eid = data.id;
        let rep = _.filter($this.exams_taken, function(o) { 
            return eid == o.exam_id
        });

        let t = data.time.split(':')
        let hour = parseInt(t[0])
        let minutes = parseInt(t[1])
        if(hour < 1)
          data.time = minutes + ' minutes'
        else if( minutes > 0)
          data.time = hour + ' hour '+minutes + ' minutes'
        else
          data.time = hour + ' hour '

        rep = rep[rep.length-1]
        if(rep){
          data.attempted = true
          data.result = rep.id
        } else{
          data.attempted = false
        }
        data.subjects = subjects
        data.package = pkg_name
        pexams.push(data);
      });

      _.forEach($this.specific_exams,function(data){

        let sids = data.subjects_ids;
        let subjects = _.filter($this.subjects, function(o) { 
            return sids.includes(o.id)
        }).map(a => a.name);

        let pid = data.package_id;
        let pkg_name = _.filter($this.packages, function(o) { 
            return pid == o.id
        }).map(a => a.name)[0];

        let eid = data.id;
        let rep = _.filter($this.exams_taken, function(o) { 
            return eid == o.exam_id
        });

        let t = data.time.split(':')
        let hour = parseInt(t[0])
        let minutes = parseInt(t[1])
        if(hour < 1)
          data.time = minutes + ' minutes'
        else if( minutes > 0)
          data.time = hour + ' hour '+minutes + ' minutes'
        else
          data.time = hour + ' hour '

        rep = rep[rep.length-1]
        if(rep){
          data.attempted = true
          data.result = rep.id
        } else{
          data.attempted = false
        }
        data.subjects = subjects
        data.package = pkg_name
        sexams.push(data);
      });
      
      this.examsData = _.groupBy(exams, data => data.package);
      this.specificExamsData = sexams;
      this.upcomingExamsData = _.groupBy(uexams, data => data.package);
      this.prevExamsData = _.groupBy(pexams, data => data.package);

      //console.log(this.examsData);
    },
  }
}
</script>
<style scoped>
.package-title{
  font-size: 18px;
  line-height: 24px;
}
.package-subtitle{
  font-size: 14px;
  line-height: 1.5
}
.details > span{
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  color: #999;
  text-align: center;
}
.action{
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 15px 0 25px;
  float: left;
}
a:not(.rembtn){
  display: inline-block;
  width: auto;
  text-align: center;
  font-size: 14px;
  padding: 10px 17px;
  color: #fff;
  background: #2f365f;
  border-radius: 4px;
  font-weight: 600;
}
</style>
