<template>
    <layout :title="exam.name" :langswitch="langswitch" :submitbutton="submitbutton">
        <div class="bg-white rounded shadow overflow-x-auto p-6">
          <div class="flex main-result flex-col">
            <h2 class="w-full">Overall Result:</h2>
            <div class="flex flex-wrap w-full py-6">
              <div class="data-content w-full xl:w-1/2 flex flex-wrap">
                <div class="row block w-full mb-4 md:w-1/2">
                  <div class="card-panel-description w-full">
                    <span class="card-panel-num">{{basic.total}}</span>
                    <div class="card-panel-text">Total Questions</div> 
                  </div>
                   <div class="card-panel-description w-1/2">
                    <span class="card-panel-num">{{basic.attended }}</span>
                    <div class="card-panel-text">Attempted</div>
                  </div>
                  <div class="card-panel-description w-1/2">
                    <span class="card-panel-num">{{basic.unattended }}</span>
                    <div class="card-panel-text">Unattempted</div>
                  </div>
                  <div class="card-panel-description w-1/2">
                    <span class="card-panel-num">{{basic.correct}}</span>
                    <div class="card-panel-text">Correct</div> 
                  </div>
                  <div class="card-panel-description w-1/2">
                    <span class="card-panel-num">{{basic.wrong}}</span>
                    <div class="card-panel-text">Wrong</div> 
                  </div>
                </div>
                <div class="row block w-full mb-4 flex justify-center items-center total-marks md:w-1/2">
                  <div class="card-panel-description">
                    <span class="card-panel-num percentage">{{rank}}</span>
                    <div class="card-panel-text">Your Rank<br/><i>Among {{total}} participants</i></div> 
                  </div>
                </div>
              </div>
              <div class="data-content w-full xl:w-1/2 px-6">
                <div class="chart-wrapper">
                    <PieChart :data="basic.chartData"/>
                </div>
              </div>
            </div>
          </div>
          <div class="flex sub-result mt-6 flex-col">
            <h2 class="w-full py-6">Result Summary:</h2>
            <h3 class="w-full py-6 mt-2">Subject Wise:</h3>
            <el-table :data="tableData" border style="width: 100%">
              <el-table-column type="index" width="50"></el-table-column>
              <el-table-column prop="subject" label="Subject" width="180"></el-table-column>
              <el-table-column prop="total" label="Total Questions" width="180"></el-table-column>
              <el-table-column prop="answered" label="Answered"></el-table-column>
              <el-table-column prop="unanswered" label="Unanswered"></el-table-column>
              <el-table-column prop="attended" label="Attended"></el-table-column>
              <el-table-column prop="unattended" label="Unattended"></el-table-column>
              <el-table-column prop="correct" label="Correct"></el-table-column>
              <el-table-column prop="wrong" label="Wrong"></el-table-column>
              <el-table-column prop="score" label="Score"></el-table-column>
            </el-table>
            <div class="flex w-full py-6 flex-wrap" v-if="tableData.length > 2">
              
              <div class="data-content w-full lg:w-1/2 px-6 lg:mb-0 mb-4">
                <div class="chart-wrapper">
                    <BarChart :data="subjectGraph"/>
                </div>
              </div>
              <div class="data-content w-full lg:w-1/2 flex">
                <div class="row block w-full mb-4 flex justify-center items-center total-marks">
                  <div class="font-semibold text-left">
                    <div class="text-lg mb-4">Weak in Subject : {{minSub.subject}}</div> 
                    <div class="text-lg">Good in Subject : {{maxSub.subject}}</div> 
                  </div>
                </div>
              </div>
            </div>

            <h3 class="w-full py-6 mt-2">Topic Wise:</h3>
            <el-table :data="tableDataT" border style="width: 100%">
              <el-table-column type="index" width="50"></el-table-column>
              <el-table-column prop="topic" label="Topic" width="180"></el-table-column>
              <el-table-column prop="total" label="Total Questions" width="180"></el-table-column>
              <el-table-column prop="answered" label="Answered"></el-table-column>
              <el-table-column prop="unanswered" label="Unanswered"></el-table-column>
              <el-table-column prop="attended" label="Attended"></el-table-column>
              <el-table-column prop="unattended" label="Unattended"></el-table-column>
              <el-table-column prop="correct" label="Correct"></el-table-column>
              <el-table-column prop="wrong" label="Wrong"></el-table-column>
              <el-table-column prop="score" label="Score"></el-table-column>
            </el-table>
            <div class="flex w-full py-6 flex-wrap" v-if="tableDataT.length > 2">
              
              <div class="data-content w-full lg:w-1/2 px-6 lg:mb-0 mb-4">
                <div class="chart-wrapper">
                    <BarChart :data="topicGraph"/>
                </div>
              </div>
              <div class="data-content w-full lg:w-1/2 flex">
                <div class="row block w-full mb-4 flex justify-center items-center">
                  <div class="font-semibold text-left">
                    <div class="text-lg mb-4">Weak in Topic : {{minTopic.topic}}</div> 
                    <div class="text-lg">Good in Topic : {{maxTopic.topic}}</div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex sub-result mt-6 flex-col" v-if="attempts.length > 1">
            <h2 class="w-full py-6">Previous Attempts Comaprision:</h2>
            <Charts :dimensions="legend" :source="source"/>
          </div>
          <div class="flex sub-result mt-6 flex-col">
            <div class="flex justify-between items-center">
              <h2 class="w-full py-6">Solutions:</h2>
              <div class="block mb-5 text-sm" v-if="!isHindi">
                <el-switch v-model="hindi" active-text="English" inactive-text="Hindi"></el-switch>
              </div>
            </div>
            <el-collapse v-model="activeName" accordion>
              <el-collapse-item :name="i+1" v-for="(q,i) in solutionsData" :key="i">
                <template slot="title">
                  <h3 class="block text-base font-regular w-full flex items-center justify-between pr-4">
                    Question No {{i+1}}
                    <span class="flex items-center text-sm text-grey-darker font-light" v-if="q.notVisited == true">Not Visited <i class="text-md ml-2el-icon-warning-outline text-orange"></i></span>
                    <span class="flex items-center text-sm text-grey-darker font-light" v-else-if="q.notAttempted == true">Not Attempted <i class="text-md ml-2 el-icon-warning-outline text-orange"></i></span>
                    <span class="flex items-center text-sm text-grey-darker font-light" v-else-if="q.iscorrect == true">Correct <i class="text-md ml-2 el-icon-circle-check text-green"></i></span>
                    <span class="flex items-center text-sm text-grey-darker font-light" v-else>Incorrect <i class="text-md ml-2 el-icon-circle-close text-red"></i></span>
                  </h3>
                </template>
                <div class="block w-full text-base">
                  <div class="block" v-if="hindi">
                    <p class="mb-6 text-lg" v-html="q.questionHindi"></p>
                    <p class="mb-5 font-medium">Options:</p>
                    <ol class="block pl-4 mb-2">
                      <li class="mb-3" v-for="(option, index) in q.options" :key="index" v-html="q.optionsHindi[index]"></li>
                    </ol>
                    <div v-if="!q.notAttempted && !q.notVisited">
                      <p class="mb-2 font-medium">Your Answer:</p>
                      <div v-if="Array.isArray(q.useranswer)" >
                        <p class="mb-3" v-for="(a, i) in q.useranswer" :key="i" v-html="q.optionsHindi[a]"></p>
                      </div>
                      <div v-else>
                        <p class="mb-3" v-html="q.optionsHindi[q.useranswer]"></p>
                      </div>
                    </div>
                    <p class="mb-2 font-medium">Answer:</p>
                    <div v-if="Array.isArray(q.answerkey)" >
                      <p class="mb-3" v-for="(a, i) in q.answerkey" :key="i" v-html="q.optionsHindi[a]"></p>
                    </div>
                    <div v-else>
                      <p class="mb-3" v-html="q.optionsHindi[q.answerkey]"></p>
                    </div>
                  </div>

                  <div class="block text-base" v-else>
                    <p class="mb-6 text-lg" v-html="q.question"></p>
                    <p class="mb-5 font-medium">Options:</p>
                    <ol class="block pl-4 mb-2">
                      <li class="mb-3" v-for="(option, index) in q.options" :key="index" v-html="q.options[index]"></li>
                    </ol>
                    <div v-if="!q.notAttempted && !q.notVisited">
                      <p class="mb-2 font-medium">Your Answer:</p>
                      <div v-if="Array.isArray(q.useranswer)" >
                        <p class="mb-3" v-for="(a, i) in q.useranswer" :key="i" v-html="q.options[a]"></p>
                      </div>
                      <div v-else>
                        <p class="mb-3" v-html="q.options[q.useranswer]"></p>
                      </div>
                    </div>
                    <p class="mb-2 mt-3 font-medium">Answer:</p>
                    <div v-if="Array.isArray(q.answerkey)" >
                      <p class="mb-3" v-for="(a, i) in q.answerkey" :key="i" v-html="q.options[a]"></p>
                    </div>
                    <div v-else>
                      <p class="mb-3" v-html="q.options[q.answerkey]"></p>
                    </div>
                  </div>

                  <p class="mb-5 font-semibold mt-2">Solution:</p>
                  <p class="block pb-2 text-base" v-if="q.explaination && q.explaination != 'null'" v-html="q.explaination"></p>
                  <div v-if="q.thirdpartyUrl">
                    <div v-if="q.videotType == 'youtube'">
                      <iframe width="420" height="345" :src="'https://www.youtube.com/embed/'+ q.videoId" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div v-else>
                      <iframe width='420' height='345' :src="'https://player.vimeo.com/video/'+ q.videoId +'?&title=0'"></iframe>
                    </div>
                  </div>
                  <div v-else>
                    <video class="w-full max-w-md" v-if="q.videoUrl" controls> 
                      <source :src="q.videoUrl" type=video/mp4>
                    </video>
                  </div>
                  
                </div>
              </el-collapse-item>
            </el-collapse>
          </div>
        </div>
    </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Student/Layout'
import PieChart from '@/Shared/Student/PieChart'
import { constants } from 'crypto';
import Charts from '@/Shared/Student/Charts'
import BarChart from '@/Shared/Student/BarChart'

export default {
  components: {
    Icon,
    Layout,
    PieChart,
    Charts,
    BarChart
  },
  props: {
    exam: Object,
    questions : Array,
    hquestions : Array,
    result : Array,
    attempts : Object,
    basic : Object,
    rank : Number,
    total : Number
  },
  data(){
      return{
        tableData : [],
        tableDataT : [],
        solutionsData : [],
        score : 0,
        submitbutton : false,
        langswitch : false,
        attemptsData : '',
        legend : [],
        source : [],
        topicGraph : '',
        subjectGraph : '',
        maxSub : '',
        minSub : '',
        maxTopic : '',
        minTopic : '',
        activeName : '',
        isHindi : false,
        hindi : false
      }
  },
  mounted(){
    
    let $this = this

    this.source = []

    this.legend = ['Answered','Attended','Correct','Wrong','Unanswered','Unattended','Score']

    if(this.attempts.length > 0){
      _.forEach(this.attempts, function(data,index) {
        let x = {}
        let i = index+1
        let y = data.basic_result
        if(i==1)
          x.name = 'Current Attempt '
        else
          x.name = 'Attempt '+ i
        x.type = 'line',
        x.stack = '总量',
        x.areaStyle = {},
        x.data = [ y.answered, y.attended, y.correct, y.wrong ,y.unanswered ,y.unattended, ( y.correct - y.wrong * 0.25 ) ]
        $this.source.push(x)
      });
    }
    let rdata = this.getGroupedResults(this.result);
    this.tableData = rdata;
    this.score = ( this.basic.correct - this.basic.wrong * 0.25 )

    let tData = this.getGroupedResultsT(this.result);
    this.tableDataT = tData;
    
    this.topicGraph = this.getChartsData(this.tableDataT,'topic');
    this.subjectGraph = this.getChartsData(this.tableData,'subject');

    this.maxSub =  _.maxBy(this.tableData, 'score');
    this.minSub = _.minBy(this.tableData, 'score');

    this.maxTopic = _.maxBy(this.tableDataT, 'score');
    this.minTopic = _.minBy(this.tableDataT, 'score');

    this.getSolutionsData();

    console.table(this.result);

    console.table(this.basic);

  },
  methods:{
    getSolutionsData(){
      let $this = this;
      $this.solutionsData = [];
       _.forEach($this.questions,function(el){
          let result_obj = _.find($this.result, {id:el.id});
          //console.log(result_obj);
          let hquestion = _.find($this.hquestions, {question_id:el.id});
          let newres = {};
          newres.question = el.question;
          newres.options = el.options;
          newres.solution = el.solution;
          newres.answerkey = el.answerkey;
          newres.useranswer = result_obj.useranswers;
          newres.questionHindi = hquestion.question;
          newres.optionsHindi = hquestion.options;
          
          if(el.solution){
            let url = el.solution.video_url;
            let vdata = $this.parseVideo(url);
            if (vdata.type == "youtube" || vdata.type == "vimeo"){ 
              newres.thirdpartyUrl = true
              newres.videoId = vdata.id
              newres.videoType = vdata.type
            } else {
              newres.thirdpartyUrl = false
              let filename = url.substring(url.lastIndexOf('/')+1);
              newres.videoUrl = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '') + '/storage/solutions/'+ filename;
            }
          }

          if(result_obj.attended == false){
            newres.notVisited = true;
          } else if(result_obj.attended == true && result_obj.answered == false){
            newres.notAttempted = true;
          }

          if(Array.isArray(result_obj.answerkey) && result_obj.type == 'radio'){
            newres.iscorrect = true;
          } else if(result_obj.type == 'radio'){
            if(result_obj.answerkey == result_obj.useranswers){
              newres.iscorrect = true;
            } else{
              newres.iscorrect = false;
            }
          }else{
            if($this.isArrayEqual(result_obj.answerkey,result_obj.useranswers)){
              newres.iscorrect = true;
            } else{
              newres.iscorrect = false;
            }
          }
          $this.solutionsData.push(newres);
      })
      //console.log($this.solutionsData);
    },
    parseVideo(url) {
      url.match(/(http:\/\/|https:\/\/|)(player.|www.)?(vimeo\.com|youtu(be\.com|\.be|be\.googleapis\.com))\/(video\/|embed\/|watch\?v=|v\/)?([A-Za-z0-9._%-]*)(\&\S+)?/);
      var type = null;
      if (RegExp.$3.indexOf('youtu') > -1) {
          type = 'youtube';
      } else if (RegExp.$3.indexOf('vimeo') > -1) {
          type = 'vimeo';
      }
      return {
          type: type,
          id: RegExp.$6
      };
    },
    getGroupedResults(results){
        let table = []
        const groupedResult = _.groupBy(results, data => data.subject);
        let $this = this;
        _.map(groupedResult, function(data, key) {
          let res = $this.getResultData(data)
          res.subject = key
          table.push(res);
        })
        return table;
    },
    getGroupedResultsT(results){
        let table = []
        const groupedResult = _.groupBy(results, data => data.topics);
        let $this = this;
        _.map(groupedResult, function(data, key) {
          let res = $this.getResultData(data)
          res.topic = key
          table.push(res);
        })
        return table;
    },
    getResultData(data){
      let result = {}, correct = 0, wrong = 0, attended = 0, answered = 0, unattended = data.length,unanswered = data.length
      data.forEach((question, index) => {
        if(question.type == 'radio'){
          if(question.answerkey == question.useranswers){
            correct++;
          } else{
            wrong++;
          }
        }else{
          if(this.isArrayEqual(question.answerkey,question.useranswers)){
            correct++;
          } else{
            wrong++;
          }
        }
        if(question.answered) answered++; 
        if(question.attended) attended++; 
      });
      result.total = data.length;
      result.correct = correct;
      result.wrong = wrong;
      result.attended = attended;
      result.answered = answered;
      result.unanswered = data.length - answered;
      result.unattended = data.length - attended;
      result.score = ( result.correct - result.wrong * 0.25 );
      result.chartData = {}
      result.chartData.labels = ['Answered','Attended','Correct','Unanswered','Unattended','Incorrect']
      result.chartData.data = [
        { value: result.answered, name: 'Answered' },
        { value: result.attended, name: 'Attended' },
        { value: result.correct, name: 'Correct' },
        { value: result.unanswered, name: 'Unanswered' },
        { value: result.unattended, name: 'Unattended' },
        { value: result.wrong, name: 'Incorrect' }
      ]
      return result
    },
    getChartsData(tableData,type){
      let chartData = {};
      chartData.labels = [];
      chartData.data = [];
      _.forEach(tableData,function(el){
        chartData.labels.push(el.name);
        if(type == 'subject'){
          chartData.data.push({
            value : el.score,
            name : el.subject
          })
        } else{
          chartData.data.push({
            value : el.score,
            name : el.topic
          })
        }
      })
      return chartData;
    },
    getWeakData(tableData,type){
      _.forEach(tableData,function(el){
        chartData.labels.push(el.name);
        if(type == 'subject'){
          chartData.data.push({
            value : el.score,
            name : el.subject
          })
        } else{
          chartData.data.push({
            value : el.score,
            name : el.topic
          })
        }
      })
      return chartData;
    },
    isArrayEqual(a, b) {
      return a.length === b.length && a.sort().every(function(value, index) { return value === b.sort()[index]});
    }
  }
}
</script>

<style>
.card-panel-description {
    font-weight: bold;
    margin-left: 0px;
    text-align: center;
    float: left;
    margin: 26px 0;
}
.card-panel-description .card-panel-text {
    color: rgba(49, 49, 49, 0.72);
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
}
.card-panel-description .card-panel-num {
    font-size: 30px;
    text-align: center;
    margin-bottom: 12px;
    display: block;
}

.total-marks .card-panel-description{
  margin:0;
  margin-top: -40px;
}

.total-marks .card-panel-description .percentage{
  font-size: 60px;
}
</style>
