<template>
  <layout :title="exam.name" v-on:submitExam="submit" v-on:switchLang="switchLang" :langswitch="langswitch" :submitbutton="submitbutton">
    <div class="rounded overflow-x-auto p-6">
      <h1 class="mb-2 font-bold text-3xl p-6 pb-0" v-if="!details && !instruction">{{ exam.name }}</h1>
      <div class="flex flex-row flex-wrap">
        <div class="block relative w-full">
          <transition key="1" name="fade" mode="out-in">
            <div class="instructions bg-white rounded py-4 px-6" v-if="instruction">
              <h1>Instructions</h1>
              <button @click="details = !details, instruction = !instruction ">Next</button>
            </div>
          </transition>
          <transition key="2" name="fade" mode="out-in">
            <div class="details bg-white rounded py-4 px-6" v-if="details">
              <h1>Details</h1>
              <button @click="instruction = !instruction">Back</button>
              <button @click="details = !details,submitbutton = true, startExam = true">Next</button>
            </div>
          </transition>
        </div>

        <div class="block relative w-3/4 p-6" v-if="!details && !instruction">
          <transition key="3" name="fade" mode="out-in">
            <div class="test bg-white rounded py-4 px-6">
              <el-tabs v-model="activeQuestionGroup" @tab-click="tabChanged" class="mb-4">
                <el-tab-pane v-for="(sub, index) in subjectNames" :key="index" :label="sub" :name="sub"></el-tab-pane>
              </el-tabs>
              <Question :question="questionsData[currentQuestion]"
                v-on:answer="handleAnswer" v-on:bookmark="handleBM"
                :question-number="currentQuestion+1" :lang="lang"
              ></Question>
            </div>
          </transition>
        </div>
        <div class="block relative w-1/4 p-6" v-if="!details && !instruction">
          <div class="bg-white rounded py-4 px-6 mb-4">
              <h4 class="border-b-2 pb-4 text-lg font-medium mb-4">Timer:</h4>
              <Timer className="text-4xl py-4" :data="time" :isStart="startExam" v-on:timeup="result()"/>
          </div>
          <div class="bg-white rounded py-4 px-6">
            <h4 class="border-b-2 pb-4 text-lg font-medium mb-4">Questions List:</h4>
            <div class="flex flex-wrap mb-4">
              <p class="mb-2 block w-full">
                <i class="bg-orange w-4 h-3 rounded-sm inline-block mr-2"></i>
                Attended: {{attended}}
              </p>
              <p class="mb-2 block w-full">
                <i class="bg-blue w-4 h-3 rounded-sm inline-block mr-2"></i>
                Unattended: {{unattended}}
              </p>
              <p class="mb-2 block w-full">
                <i class="bg-green w-4 h-3 rounded-sm inline-block mr-2"></i>
                Answered: {{answered}}
              </p>
              <p class="mb-2 block w-full">
                <i class="bg-red-light w-4 h-3 rounded-sm inline-block mr-2"></i>
                Unanswered: {{unanswered}}
              </p>
            </div>
            <div class="flex flex-wrap qkeys">
              <button class="mr-4" @click="switchQuestion(i)" 
                :class="['num-btn', (questionsData[i].attended === true ? 'attended' : ''), (questionsData[i].answered === true ? 'answered' : ''),(questionsData[i].attended === true && questionsData[i].answered === false ? 'unanswered' : '')]" 
                v-for="(q,i) in questionsData" :key="i"
                >{{i+1}}</button>
            </div>
          </div>
          </div>
      </div>
    </div>
  </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Student/ExamLayout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'
import Question from '@/Shared/Student/Question'
import { constants } from 'crypto';
import Charts from '@/Shared/Student/Charts'
import Timer from '@/Shared/Student/Timer'

export default {
  components: {
    Icon,
    Layout,
    Pagination,
    SearchFilter,
    Question,
    Charts,
    Timer
  },
  props: {
    exam: Object,
    subjects : Array,
    topics : Array,
    questions : Array,
    questions_hindi : Array,
    username : String
  }, 
  data() {
    return {
      questionsData : [],
      instruction : true,
      details : false,
      currentQuestion: 0,
      answers : [],
      attended: 1,
      answered:0,
      unanswered: this.questions.length,
      unattended : this.questions.length - 1,
      subjectNames : [],
      activeQuestionGroup : '',
      chartData : {},
      showResult : false,
      showSubsResult : false,
      subResults : [],
      submitbutton : false,
      langswitch : true,
      lang : true,
      startExam : false,
      time : ''
    }
  },
  mounted(){
    this.time = this.exam.time
    console.log(this.questions);
    this.fetchData()
    
  },
  created() {
    window.addEventListener('beforeunload', this.beforeClose)
  },
  beforeDestroy() {
    window.removeEventListener('beforeunload', this.beforeClose)
  },
  watch: {
    
  },
  methods: {
    beforeClose(event) {
      event.preventDefault()
      this.result('leave');
    },
    switchLang(val){
      //console.log(val);
      this.lang  = val
    },
    fetchData(){
      let $this = this;
        
      _.forEach($this.questions,function(data){
        let newData = [];
        let id = data.id;
        let hindiQ = $this.questions_hindi.filter(obj => {
          return id === obj.question_id
        });
        newData.id = data.id
        newData.question = data.question;
        newData.question_hindi = hindiQ[0].question;
        newData.options = data.options;
        newData.options_hindi = hindiQ[0].options;
        newData.answerkey = data.answerkey;
        if(Array.isArray(data.answerkey)){
          newData.type = 'multiple'
        } else{
          newData.type = 'radio'
        }
        newData.attended = false;
        newData.answered = false;
        newData.useranswers = [];
        let sid = data.subject_id;
        let subName = $this.subjects.filter(obj => {
          return sid === obj.id
        }).map(a => a.name)[0]; 
        newData.subject = subName;
        if(!($this.subjectNames.includes(subName))){
          $this.subjectNames.push(subName)
        }

        let tids = data.topics_ids;
        let topicNames = $this.topics.filter(obj => {
          return tids.includes(obj.id);
        }).map(a => a.name);
        
        newData.topics = topicNames;
        $this.questionsData.push(newData);
      });
      $this.questionsData[0].attended = true
      $this.questionsData = _.sortBy($this.questionsData, 'subject','asc');
      $this.subjectNames = _.sortBy($this.subjectNames);
      $this.activeQuestionGroup = $this.subjectNames[0]
      //console.log(this.questionsData);
    },
    switchQuestion(questionIndex){
      this.currentQuestion = questionIndex
      this.questionsData[this.currentQuestion].attended = true
      this.activeQuestionGroup = this.questionsData[this.currentQuestion].subject
      this.getCurrentExamData()
    },
    handleAnswer(e) {
      this.questionsData[this.currentQuestion].attended = true
      
      this.questionsData[this.currentQuestion].useranswers = e.answer;
      if(e.answer !== null){
        if(Array.isArray(e.answer) && e.answer.length > 0) 
          this.questionsData[this.currentQuestion].answered = true
        else if(!Array.isArray(e.answer))
          this.questionsData[this.currentQuestion].answered = true
      }
      this.questionsData[this.currentQuestion].useranswers = e.answer;
      if((this.currentQuestion+1) === this.questionsData.length) {
        this.currentQuestion = 0
        this.getCurrentExamData()
        return
      } else {
        this.currentQuestion++;
        this.questionsData[this.currentQuestion].attended = true
      }
      this.getCurrentExamData();
    },
    handleBM(e) {
      this.questionsData[this.currentQuestion].bookmark = e.bookmark
      console.log(this.questionsData);
    },
    result(event){
      let result = this.getResultData(this.questionsData)
      this.chartData = result.chartData
      //this.showResult = true
      // let percentage = ((result.correct/result.total) * 100).toFixed(2)
      // console.log(percentage)
      // console.log(result.correct+'/'+result.total)
      function reject(obj, keys) {
          return Object.keys(obj)
              .filter(k => !keys.includes(k))
              .map(k => Object.assign({}, {[k]: obj[k]}))
              .reduce((res, o) => Object.assign(res, o), {});
      }
      let exportData = []
      _.map(this.questionsData, function(data) {
        exportData.push(reject(data,['question','question_hindi','options','options_hindi']))
      })

      let storeData = {
        exam_id : this.exam.id,
        username : this.username,
        exam_data : exportData,
        basic_data : result,
        score : ( result.correct - result.wrong * 0.25 )
      }
      if(event == 'leave'){
        storeData.exit = true;
        this.$inertia.post(this.path('result.store'), storeData).then(() =>  
          this.$message({
            type: 'info',
            message: 'Saving Report..'
          }) 
        )
      } else{
        this.$inertia.post(this.path('result.store'), storeData).then(() =>  
          this.$message({
            type: 'info',
            message: 'Generating Report..'
          }) 
        )
      }
      
    },
    getSubjectWiseResults(){
      if(this.showSubsResult) return;
      const groupedResult = _.groupBy(this.questionsData, data => data.subject);
      let $this = this;
      _.map(groupedResult, function(data, key) {
        let res = $this.getResultData(data)
        res.subject = key
        $this.subResults.push(res);
      })
      this.showSubsResult = true
    },
    getResultData(data){
      let result = {}, correct = 0, wrong = 0, attended = 0, answered = 0, unattended = data.length,unanswered = data.length
      data.forEach((question, index) => {
        if(question.type == 'radio'){
          if(question.answerkey == question.useranswers){
            correct++;
          } else{
            wrong++;
          }
        }else{
          if(this.isArrayEqual(question.answerkey,question.useranswers)){
            correct++;
          } else{
            wrong++;
          }
        }
        if(question.answered) answered++; 
        if(question.attended) attended++; 
      });
      result.total = data.length;
      result.correct = correct;
      result.wrong = wrong;
      result.attended = attended;
      result.answered = answered;
      result.unanswered = data.length - answered;
      result.unattended = data.length - attended;
      result.chartData = {}
      result.chartData.labels = ['Answered','Attended','Correct','Unanswered','Unattended','Incorrect']
      result.chartData.data = [
        { value: result.answered, name: 'Answered' },
        { value: result.attended, name: 'Attended' },
        { value: result.correct, name: 'Correct' },
        { value: result.unanswered, name: 'Unanswered' },
        { value: result.unattended, name: 'Unattended' },
        { value: result.wrong, name: 'Incorrect' }
      ]
      return result
    },
    getCurrentExamData(){
      let answered = 0
      let unanswered = 0
      let attended = 0
      let unattended = 0
      this.questionsData.forEach((question, index) => {
        if(question.answered == true)
          answered++
        if(question.attended == true)
          attended++
      });
      this.answered = answered;
      this.unanswered = this.questionsData.length - answered;
      this.attended = attended;
      this.unattended = this.questionsData.length - attended;
    },
    isArrayEqual(a, b) {
      return a.length === b.length && a.sort().every(function(value, index) { return value === b.sort()[index]});
    },
    tabChanged(tab, event) {
      this.currentQuestion = _.findIndex(this.questionsData, { subject: tab.label })
      this.questionsData[this.currentQuestion].attended = true
      this.getCurrentExamData()
    },
    submit(){
      // this.$confirm('Submit Exam for Results?', 'Warning', {
      //   confirmButtonText: 'OK',
      //   cancelButtonText: 'Cancel',
      //   type: 'warning'
      // }).then(() => {
        
      //   this.$message({
      //     type: 'info',
      //     message: 'Submitting..'
      //   });
      // }).catch(() => {
      //   this.$message({
      //     type: 'info',
      //     message: 'Submission Canceled'
      //   });          
      // })
      this.result();
    }
  }
}
</script>
<style scoped>
h3{
  display:block;
  font-size:18px;
  font-weight:400;
  line-height:24px;
  margin:0 0 15px;
}
.action{
  display:block;
  width:100%;
  overflow:hidden;
}
a{
  display:inline-block;
  width:100%;
  text-align:center;
  font-size:14px;
  padding:10px 17px;
  text-transform:uppercase;
  color:#fff;
  background:#333;
}
.num-btn{
  display: inline-block;
  width:30px;
  height:30px;
  border-radius: 100%;
  font-size: 14px;
  color:#fff;
  text-align: center;
  padding: 5px 10px;
  background-color:#3490dc;
}
.num-btn.attended{
  background-color:#f6993f;
}
.num-btn.attended.answered{
  background-color:#38c172;
}
.num-btn.unanswered{
  background-color:#ef5753
}
/* .fade-enter-active,
.fade-leave-active {
  transition: opacity 1s
}

.fade-enter,
.fade-leave-to{
  opacity: 0
} */
</style>
