<template>
  <layout title="Packages">
    <div class="bg-white rounded shadow overflow-x-auto p-6">
      <h1 class="mb-8 font-bold text-3xl mb-6 px-4">Packages</h1>
      <div class="flex flex-wrap">
        <div class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/3 p-4" v-for="(pkg,index) in packages" :key="index">
          <el-card shadow="always" class="exam-card" :body-style="{ padding: '0px' }">
            <div class="image" :style="'background-image:url('+ pkg.img + ')'"></div>
            <div class="px-6 py-2 text-center">
              <h3 class="text-grey-darkest">{{pkg.name}}</h3>
              <div class="bottom flex justify-between items-center">
                <span class="text-sm text-grey">Price: Rs.{{pkg.price}}</span>
                <el-button size="mini">
                  <inertia-link :href="path('packages.show', pkg.id)">View</inertia-link>
                </el-button>
              </div>
            </div>
          </el-card>
        </div>
      </div>
    </div>
  </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'

export default {
  components: {
    Icon,
    Layout,
    Pagination,
    SearchFilter,
  },
  props: {
    packages: Array
  },
  data() {
    return {

    }
  },
  mounted(){
    //console.log(this.packages);
  },
  watch: {

  },
  methods: {

  }
}
</script>
<style scoped>
h3{
  display:block;
  font-size:18px;
  font-weight:600;
  line-height:24px;
  margin:0 0 15px;
}
.image{
  display:block;
  width:100%;
  padding-bottom: 275px;
  background-size: cover;
  background-position: center;
  overflow:hidden;
}

@media (min-width:769px) and (max-width:1240px) {
  .image{
    padding-bottom: 250px;
  }
}
</style>
