<template>
  <layout title="Package Details">
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link class="text-indigo-light hover:text-indigo-dark" :href="path('packages')">Packages</inertia-link>
      <span class="text-indigo-light font-medium">/</span> {{title}}
    </h1>
    <div class="bg-white rounded shadow overflow-x-auto">
      <el-table :data="tableData" style="width: 100%;padding:0px 15px;">
        <el-table-column type="index" width="50"></el-table-column>
        <el-table-column label="Exams" prop="name" sortable></el-table-column>
        <el-table-column label="Marks" prop="max_marks" width="100"></el-table-column>
        <el-table-column label="Subject" prop="subject" width="200"
          :filters="filterSubs"
          :filter-method="filterSub"
          filter-placement="bottom-end">
          <template slot-scope="scope">
            <el-button size="mini">
              <inertia-link :href="path('exams.edit', scope.row.id)" tabindex="-1">Edit
              </inertia-link>
            </el-button>
          </template>
        </el-table-column>
        <el-table-column label="Topics" width="250" prop="topics"
          :filters="filterTopics"
          :filter-method="filterTopic"
          filter-placement="bottom-end">
          <template slot-scope="scope">
            <el-button size="mini">
              <inertia-link :href="path('exams.show', scope.row.id)" tabindex="-1">View</inertia-link>
            </el-button>
            <el-button size="mini" type="danger" icon="el-icon-delete" @click="removeExam(scope.row.id)"></el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'

export default {
  components: {
    Icon,
    Layout,
    Pagination,
    SearchFilter,
  },
  props: {
    title : String,
    exams: Object,
    subjects : Array,
    topics : Array
  },
  data() {
    return {
      tableData : [],
      filterSubs : [],
      filterTopics:[]
    }
  },
  mounted(){
    if(this.exams) this.fetchData();
  },
  methods: {
    fetchData(){

      let $this = this;

      _.forEach($this.exams,function(data){

          let sid = data.subjects_ids;
          let tid = data.topics_ids;

          let subjects = _.filter($this.subjects, function(o) { 
              return sid.includes(o.wp_id)
          }).map(a => a.name);

          let topics = _.filter($this.topics, function(o) { 
              tid = tid.map(Number);
              return tid.includes(o.wp_id)
          }).map(a => a.name);

          data.subjects = subjects;
          data.topics = topics;

          $this.tableData.push(data);
      })

      //Get Filter Subjects List
      _.forEach($this.subjects,function(data){
        $this.filterSubs.push({ 'text': data.name, 'value' : data.name });
      })

      //Get Filter Topics List
      _.forEach($this.topics,function(data){
        $this.filterTopics.push({ 'text': data.name, 'value' : data.name });
      })

      // console.log($this.tableData);
      // console.log($this.filterSubs);
      // console.log($this.filterTopics);
    },
    filterSub(value, row) {
      return row.subjects.includes(value);
    },
    filterTopic(value, row) {
      return row.topics.includes(value);
    },
    removeExam(id) {
      this.$confirm('This will permanently delete the Exam. Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        this.$inertia.delete(this.path('exam.destroy',id))
        this.$message({
          type: 'info',
          message: 'Deleting..'
        });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Delete canceled'
        });          
      })
    }
  },
}
</script>
