<template>
  <div class="h-screen overflow-hidden flex items-center justify-center">
    <div class="w-full flex flex-wrap h-screen">
      <div class="w-1/4 hidden lg:block lg:w-1/4 bg-cover rounded-l-lg relative" style="background-image: url('https://uppariksha.com/wp-content/uploads/2020/02/istockphoto-639354894-1024x1024-1.jpg')">
        <div style="background-color: transparent; background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.49) 0%, #232323 100%);  opacity: 0.85;" class="block h-screen absolute w-full"></div>
        <a href="https://uppariksha.com" class="w-48 p-3 m-3 inline-block relative"><logo class="block w-full" height="50"/></a>
      </div>
      <div class="w-full lg:w-3/4 bg-white flex justify-center items-center">
        <div class="max-w-sm w-full">
           <form class="block overflow-hidden" @submit.prevent="submit">
            <div class="block">
              <h1 class="text-left font-bold text-2xl sm:text-3xl pb-4">Welcome Back!</h1>
              <p class="text-left text-md">Please enter your details to login</p>

              <text-input v-model="form.email" :errors="$page.errors.email" class="mt-10" label="Email" type="email" autofocus autocapitalize="off" />
              <text-input v-model="form.password" class="mt-6" label="Password" type="password" />
              <label class="mt-6 select-none flex items-center" for="remember">
                <input id="remember" v-model="form.remember" class="mr-1" type="checkbox">
                <span class="text-sm">Remember Me</span>
              </label>
            </div>
            <div class="flex items-center flex-col mt-4">
              <loading-button :loading="sending" class="flex items-center flex items-center new-ui-bg mb-4 sm:mb-0 justify-center w-48 rounded-full py-2 text-white" type="submit">Login</loading-button>
              <a class="hover:underline text-sm sm:text-base block mt-4" tabindex="-1" href="https://uppariksha.com/registration">Don't have an account? Sign up</a>
            </div>
          </form>
        </div>     
      </div>
    </div>
  </div>
</template>

<script>
import LoadingButton from '@/Shared/LoadingButton'
import Logo from '@/Shared/Logo'
import TextInput from '@/Shared/TextInput'

export default {
  components: {
    LoadingButton,
    Logo,
    TextInput,
  },
  props: {
    errors: Object,
  },
  data() {
    return {
      sending: false,
      form: {
        email: null,
        password: null,
        remember: null,
      },
    }
  },
  mounted() {
    document.title = `Login | ${this.$page.app.name}`
  },
  methods: {
    submit() {
      this.sending = true
      this.$inertia.post(this.path('login.attempt'), {
        email: this.form.email,
        password: this.form.password,
        remember: this.form.remember,
      }).then(() => this.sending = false)
    },
  },
}
</script>

<style type="text/css" >
  .new-ui-bg{
    background: #F55C72;
  }
  .form-input,
  .form-textarea,
  .form-select {
    color: #3d4852;
    font-family: 'Nunito',sans-serif  !important;
  }

  .form-input:focus,
  .form-input.focus,
  .form-textarea:focus,
  .form-textarea.focus,
  .form-select:focus,
  .form-select.focus {
    box-shadow: none !important;
    border-width: 1px !important; 
    border-color:#dae1e7; 
  }

</style>