<template>
  <div class="p-4 sm:p-6 bg-indigo-darker min-h-screen flex justify-center items-center">
    <div class="w-full max-w-sm">
      <a href="https://uppariksha.com" class=""><logo class="block mx-auto w-full max-w-xs fill-white px-6" height="50" /></a>
      <form class="mt-8 bg-white rounded-lg shadow-lg overflow-hidden" @submit.prevent="submit">
        <div class="px-4 py-8 sm:px-10 sm:py-12">
          <h1 class="text-center font-bold text-2xl sm:text-3xl">Welcome Back!</h1>
          <div class="mx-auto mt-4 sm:mt-6 w-16 sm:w-24 border-b-2" />
          <text-input v-model="form.email" :errors="$page.errors.email" class="mt-10" label="Email" type="email" autofocus autocapitalize="off" />
          <text-input v-model="form.password" class="mt-6" label="Password" type="password" />
          <label class="mt-6 select-none flex items-center" for="remember">
            <input id="remember" v-model="form.remember" class="mr-1" type="checkbox">
            <span class="text-sm">Remember Me</span>
          </label>
        </div>
        <div class="px-10 py-4 bg-grey-lightest border-t border-grey-lighter flex-col-reverse sm:flex-row flex justify-between items-center">
          <a class="hover:underline text-sm sm:text-base" tabindex="-1" href="https://uppariksha.com/register">Don't have an account? Singup</a>
          <loading-button :loading="sending" class="flex items-center btn-indigo mb-4 sm:mb-0 w-32 sm:w-auto justify-center" type="submit">Login</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import LoadingButton from '@/Shared/LoadingButton'
import Logo from '@/Shared/Logo'
import TextInput from '@/Shared/TextInput'

export default {
  components: {
    LoadingButton,
    Logo,
    TextInput,
  },
  props: {
    errors: Object,
  },
  data() {
    return {
      sending: false,
      form: {
        email: null,
        password: null,
        remember: null,
      },
    }
  },
  mounted() {
    document.title = `Login | ${this.$page.app.name}`
  },
  methods: {
    submit() {
      this.sending = true
      this.$inertia.post(this.path('login.attempt'), {
        email: this.form.email,
        password: this.form.password,
        remember: this.form.remember,
      }).then(() => this.sending = false)
    },
  },
}
</script>
