<template>
  <layout title="Create User">
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link class="text-indigo-light hover:text-indigo-dark" :href="path('exams')">Question Bank</inertia-link>
      <span class="text-indigo-light font-medium">/</span> Add New
    </h1>
    <div class="bg-white rounded shadow overflow-hidden max-w-3xl">
      <el-collapse v-model="activeName">
        <el-collapse-item name="1" class="px-4">
          <template slot="title">Hindi</template>
          <div>
            <div class="w-full">
              <form @submit.prevent="submit">
                <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                  <label class="form-label">Question:</label>
                  <div class="pr-6 pb-8 w-full">
                    <CKEditor id="qeditor_hindi" v-model="form.question_hindi" height="300"></CKEditor>
                  </div>
                  <label class="form-label mt-2" required>Options:</label>
                  <div class="pr-6 pb-8 w-full">
                    <div class="mb-6" v-for="(arr, index) in form.options" :key="index">
                      <div class="flex items-start">
                        <div class="w-full pr-4">
                          <CKEditor :id="'editor_hindi-option'+index" v-model="form.options_hindi[index]" height="100"></CKEditor>
                        </div>
                        <el-button type="primary" icon="el-icon-circle-close" @click="removeOption(index)"></el-button>
                      </div>
                    </div>
                    <el-button type="primary" icon="el-icon-circle-plus-outline" @click="addOption">Add Option</el-button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </el-collapse-item>
        <el-collapse-item name="2" class="px-4">
          <template slot="title">English</template>
          <div>
            <div class="w-full">
              <form @submit.prevent="submit">
                <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                  <label class="form-label">Question:</label>
                  <div class="pr-6 pb-8 w-full">
                    <CKEditor id="qeditor" v-model="form.question" height="300"></CKEditor>
                  </div>
                  <label class="form-label mt-2" required>Options:</label>
                  <div class="pr-6 pb-8 w-full">
                    <div class="mb-6" v-for="(arr, index) in form.options" :key="index">
                      <div class="flex items-start">
                        <div class="w-full pr-4">
                          <CKEditor :id="'editor-option'+index" v-model="form.options[index]" height="100"></CKEditor>
                        </div>
                        <el-button type="primary" icon="el-icon-circle-close" @click="removeOption(index)"></el-button>
                      </div>
                    </div>
                    <el-button type="primary" icon="el-icon-circle-plus-outline" @click="addOption">Add Option</el-button>
                  </div>
                  <div v-if="!multikeys" class="pr-6 pb-8 w-full" >
                    <label class="form-label mt-2" required>Answer:</label>
                    <el-radio-group v-model="answerkey" required>
                      <el-radio v-for="(arr, index) in form.options" :key="index" :label="index">Option {{index+1}}</el-radio>
                    </el-radio-group>
                  </div>
                  <div v-else class="pr-6 pb-8 w-full" >
                    <label class="form-label mt-2" required>Answers:</label>
                    <el-checkbox-group v-model="answerkeys" required>
                      <el-checkbox v-for="(arr, index) in form.options" :key="index" :label="index">Option {{index+1}}</el-checkbox>
                    </el-checkbox-group>
                  </div>
                  <div class="pr-6 pb-8 w-full lg:w-1/2">
                    <el-select v-model="form.subject_id" placeholder="Select Subject" @change="filterTopics" class="w-full" required>
                      <el-option
                        v-for="subject in fsubjects"
                        :key="subject.id"
                        :label="subject.name"
                        :value="subject.id">
                      </el-option>
                    </el-select>
                  </div>
                  <div class="pr-6 pb-8 w-full lg:w-1/2">
                    <el-select v-model="form.topics_id" multiple collapse-tags placeholder="Select Topics" class="w-full" required>
                      <el-option
                        v-for="topic in ftopics"
                        :key="topic.id"
                        :label="topic.name"
                        :value="topic.id">
                      </el-option>
                    </el-select>
                  </div>
                </div>
                <div class="px-8 py-4 bg-grey-lightest border-t border-grey-lighter flex justify-between items-center">
                  <el-button type="primary" icon="el-icon-setting" @click="configVisible = true"></el-button>
                  <loading-button :loading="sending" class="btn-indigo" type="submit">Add Question</loading-button>
                </div>
              </form>
            </div>
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>

    <el-dialog title="Configuration" :visible.sync="configVisible" width="30%" center>
      
      <div class="configs inline-block w-full mt-4 px-4">
        <div class="block">
          <p class="mb-5 mt-6 font-medium">Multiple Answers:</p>
          <el-radio v-model="multikeys" :label="true">Yes</el-radio>
          <el-radio v-model="multikeys" :label="false">No</el-radio>
        </div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="configVisible = false">Close</el-button>
      </span>
    </el-dialog>

  </layout>
</template>

<script>
import Layout from '@/Shared/Layout'
import LoadingButton from '@/Shared/LoadingButton'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'
import TextareaInput from '@/Shared/TextareaInput'
import { constants } from 'crypto';

import CKEditor from '@/Components/CKEditor';

export default {
  components: {
    Layout,
    LoadingButton,
    SelectInput,
    TextInput,
    TextareaInput,
    CKEditor
  },
  remember: 'form',
  props: {
    subjects: Array,
    topics: Array,
  },
  data() {
    return {
      configVisible : false,
      activeName:'2',
      multikeys : false,
      ftopics : [],
      fsubjects: [],
      sending: false,
      answerkey : 0,
      answerkeys : [],
      form: {
        question: null,
        question_hindi: null,
        subject_id: null,
        topics_id : null,
        options : [null,null,null,null],
        options_hindi : [null,null,null,null],
        answer : []
      },
    }
  },
  mounted(){
    this.fsubjects = this.subjects
  },
  methods: {
    filterTopics(){
      const sid = this.form.subject_id
      this.form.topics_id = null
      this.ftopics = this.topics.filter(function(topic){
          return topic.subject_id == sid
      })
    },
    addOption(){
      this.form.options.push(null)
    },
    removeOption(index){
      if(this.form.options.length < 2)
        return
      this.form.options.splice(index,1)
      this.answerkey = 0
      this.answerkeys = [0]
    },
    submit() {
		if(this.form.question == null && this.form.question_hindi != null){
		    this.form.question = this.form.question_hindi
		    this.form.options = [...this.form.options_hindi]
	  	}
      if(this.multikeys){ 
        this.form.answer = this.answerkeys
      } else{
        this.form.answer = this.answerkey
      }
      this.sending = true
      this.$inertia.post(this.path('question-bank.store'), this.form).then(() => this.sending = false)
    },
  },
}
</script>
