<template>
  <layout title="Questions Bank">
    <h1 class="mb-8 font-bold text-3xl">Questions Bank</h1>
    <div class="mb-6 flex justify-between items-center">
      <div style="min-width:250px"> 
        <inertia-link class="btn-indigo mr-5" :href="path('question-bank.create')">
          <span>New Question</span>
        </inertia-link> 
        <inertia-link class="btn-indigo" :href="path('exams.create',selectedQuestionsIds)">
          <span>New Exam</span>
        </inertia-link>
      </div>
      <div class="flex justify-end">
        <el-select v-model="form.subjects" collapse-tags style="margin-right: 20px;" placeholder="Subject" @change="search">
          <el-option v-for="item in filterSubs" :key="item.id" :label="item.text" :value="item.id"></el-option>
        </el-select>
        <el-select v-model="form.topics" multiple collapse-tags style="margin-right: 20px;" placeholder="Topics" @change="search">
          <el-option v-for="item in filtertedTopics" :key="item.id" :label="item.text" :value="item.id"></el-option>
        </el-select>
        <search-filter v-model="form.search" class="w-full max-w-xs" @reset="reset" @search="search"></search-filter>
      </div>
    </div>
    <div class="bg-white rounded shadow overflow-x-auto">
      <el-table ref="multipleTable" :data="questions.data" style="width: 100%;padding:0px;" @selection-change="handleSelectionChange">
        <el-table-column type="expand">
          <template slot-scope="props">
            <div class="block w-full mb-2 list-disc text-base pl-20 ml-8">
              <p class="mb-5 font-medium">Options:</p>
              <ol class="block pl-4 mb-5">
                <li class="mb-3" v-for="(option, index) in props.row.options" :key="index" v-html="props.row.options[index]"></li>
              </ol>
              <p class="mb-5 font-medium">Answer:</p>
              <div v-if="Array.isArray(props.row.answer)" >
                <p class="mb-3" v-for="(a, i) in props.row.answer" :key="i" v-html="props.row.options[a]"></p>
              </div>
              <div v-else>
                <p class="mb-3" v-html="props.row.options[props.row.answer]"></p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column type="index" width="50"></el-table-column>
        <el-table-column label="Question" sortable>
          <template slot-scope="scope">
            <p v-html="scope.row.question"></p>
          </template>
        </el-table-column>
        <el-table-column label="Solution" width="100">
          <template slot-scope="scope">
              <i :class=" scope.row.solution == true ? 'el-icon-circle-check text-green text-2xl' : 'text-2xl el-icon-circle-close text-red' "/>
          </template>
        </el-table-column>
        <el-table-column label="Subject" prop="subject" width="120">
          <template slot-scope="scope">
            <el-tag type="primary">{{scope.row.subject}}</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="Operations" width="250">
          <template slot-scope="scope">
            <el-button size="mini">
              <inertia-link :href="path('question-bank.edit', scope.row.id)" tabindex="-1">Edit
              </inertia-link>
            </el-button>
            <el-button size="mini">
            <inertia-link :href="path('question-bank.show', scope.row.id)" tabindex="-1">View
              </inertia-link>
            </el-button>
            <el-button size="mini" type="danger" icon="el-icon-delete" @click="removeQuestion(scope.row.id)"></el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <pagination :links="questions.links" />
  </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'
import { constants } from 'crypto';

export default {
  components: {
    Icon,
    Layout,
    Pagination,
    SearchFilter,
  },
  props: {
    questions: Object,
    filters: Object,
    subjects : Array,
    topics : Array
  },
  data() {
    return {
      tableData : [],
      filterData : [],
      filterSubs : [],
      filterTopics:[],
      form: {
        search: this.filters.search,
        topics : this.filters.topics,
        subjects : this.filters.subjects
      },
      selectedQuestions : [],
      selectedQuestionsIds : []
    }
  },
  mounted() {
    if(this.filters.subjects != null){
      this.form.subjects = this.filters.subjects
    }
    if(this.filters.topics != null){
      this.form.topics = this.filters.topics.split(',')
    }
    this.reRender()      
  },
  watch: {
    questions() {
      this.reRender()
    },
    // form: {
    //   handler: _.throttle(function() {
    //     let query = _.pickBy(this.form)
    //     this.$inertia.replace(this.path('question-bank', Object.keys(query).length ? query : { remember: 'forget' }))
    //   }, 150),
    //   deep: true,
    // },
  },
  computed :{
    filtertedTopics : function(){
      let $this = this;
      if($this.form.subjects !== null ){
        //let ids = $this.subjects.filter(item => $this.form.subjects.indexOf(item.id) > -1 ).map(item=>item.id);
        return $this.filterTopics.filter( item => $this.form.subjects.indexOf(item.subject) > -1);
      } 
    }
  },
  methods: {
    reFilter(){
      this.filtertedTopics;
    },
    filterSub(value, row) {
      return row.subject === value;
    },
    filterTopic(value, row) {
      return row.topics.includes(value);
    },
    reRender() {
      let $this = this;

      if(window.MathJax) {
        window.MathJax.Hub.Queue(["Typeset", window.MathJax.Hub]);
      }
      
      _.forEach($this.questions.data,function(data){

        let sid = data.subject_id;
        let tid = data.topics_ids;

        let subject = _.filter($this.subjects, function(o) { 
            return sid == o.id
        }).map(a => a.name);

        let topics = _.filter($this.topics, function(o) { 
            return tid.includes(o.id)
        }).map(a => a.name);

        data.subject = subject[0];
        data.topics = topics;

        $this.tableData.push(data);
      })

      //Get Filter Subjects List
      _.forEach($this.subjects,function(data){
        $this.filterSubs.push({ 'text': data.name, 'value' : data.name, 'id' : data.id });
      })

      //Get Filter Topics List
      _.forEach($this.topics,function(data){
        $this.filterTopics.push({ 'text': data.name, 'value' : data.name, 'id' : data.id, 'subject' : data.subject_id });
      })

      //console.log( $this.filterTopics );
      
    },
    reset() {
      this.form = _.mapValues(this.form, () => null)
      let query = _.pickBy(this.form)
      this.$inertia.visit(this.path('question-bank', Object.keys(query).length ? query : { remember: 'forget' }))
    },
    search() {
      let query = _.pickBy(this.form)
      //console.log(query);
      this.$inertia.visit(this.path('question-bank', Object.keys(query).length ? query : { remember: 'forget' }))
    },
    handleSelectionChange(value) {
      this.selectedQuestions = value;
      this.selectedQuestionsIds = this.selectedQuestions.map( v => v.id);
    },
    removeQuestion(id) {
      this.$confirm('This will permanently delete the question. Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        this.$inertia.delete(this.path('question-bank.destroy',id))
        this.$message({
          type: 'info',
          message: 'Deleting..'
        });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Delete canceled'
        });          
      })
    }
  }
}
</script>
