<template>
  <layout title="Questions">
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link class="text-indigo-light hover:text-indigo-dark" :href="path('question-bank')">Question Bank</inertia-link>
      <span class="text-indigo-light font-medium">/</span>
      View Question
    </h1>
    <div class="bg-white rounded shadow overflow-hidden max-w-3xl p-8">
      <div class="block mb-5" v-if="!isHindi">
        <p class="mb-5 mt-6 font-medium">Show Hindi Version:</p>
        <el-switch v-model="hindi" active-text="Hide" inactive-text="Show"></el-switch>
      </div>
      <div class="block" v-if="hindi">
        <p class="mb-6 text-lg" v-html="question_hindi"></p>
        <p class="mb-5 font-medium">Options:</p>
        <ol class="block pl-4 mb-5">
          <li class="mb-3" v-for="(option, index) in options" :key="index" v-html="options_hindi[index]"></li>
        </ol>
        <p class="mb-5 font-medium">Answer:</p>
        <p class="mb-3" v-for="(a, i) in answerkey" :key="i" v-html="options_hindi[a]"></p>
      </div>

      <div class="block" v-else>
        <p class="mb-6 text-lg" v-html="question"></p>
        <p class="mb-5 font-medium">Options:</p>
        <ol class="block pl-4 mb-5">
          <li class="mb-3" v-for="(option, index) in options" :key="index" v-html="options[index]"></li>
        </ol>
        <p class="mb-5 font-medium">Answer:</p>
        <p class="mb-3" v-for="(a, i) in answerkey" :key="i" v-html="options[a]"></p>
      </div>

      <div class="block mt-12" v-if="sol">
          <p class="mb-5 font-medium mt-2">Solution:</p>
          <p v-if="explaination" v-html="explaination"></p>
          <div class="w-full my-8" v-if="url">
              <p class="mb-5 font-medium mt-2">Video:</p>
              <div v-if="tpurl && (/^\d+$/.test(tpurl))">
                <iframe width="420" height="345" :src="'https://www.youtube.com/embed/'+ vid" frameborder="0" allowfullscreen></iframe>
              </div>
              <div v-if="tpurl && !(/^\d+$/.test(tpurl))">
                <iframe width='420' height='345' :src="'https://player.vimeo.com/video/'+ vid +'?&title=0'"></iframe>
              </div>
              <video class="w-full" v-else controls> 
                <source :src="url" type=video/mp4>
              </video>
          </div>
          <inertia-link class="btn-indigo mt-6 inline-block" :href="path('question-bank.edit',qid)">
            <span>Edit Question</span>
          </inertia-link>
          <inertia-link class="btn-indigo mt-6 inline-block" :href="path('question-bank.solution',qid)">
            <span>Edit Solution</span>
          </inertia-link>
      </div>
      <div class="block" v-else>
          <inertia-link class="btn-indigo mt-6 inline-block" :href="path('question-bank.edit',qid)">
            <span>Edit Question</span>
          </inertia-link>
          <inertia-link class="btn-indigo mt-6 inline-block" :href="path('question-bank.solution',qid)">
            <span>Add Solution</span>
          </inertia-link>
      </div>
    </div>
  </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'

export default {
  components: {
    Layout,
    Icon,
    Pagination
  },
  props: {
    qdata: Object,
    solution : Array
  },
  remember: 'form',
  data() {
    return {
        isHindi : false,
        hindi : false,
        qid : this.qdata.id,
        question: this.qdata.question,
        options : this.qdata.options,
        question_hindi: this.qdata.question_hindi,
        options_hindi : this.qdata.options_hindi,
        answerkey : this.qdata.answerkey,
        sol : '',
        url : '',
        explaination :'',
        vid:'',
        tpurl: false
    }
  },
  created(){
    if(this.solution[0]){
      this.sol = this.solution[0].id
      this.url = this.solution[0].url
      this.explaination = this.solution[0].explaination
    }

    if(!Array.isArray(this.answerkey)){
      let x = [];
      x.push(this.answerkey)
      this.answerkey = x
    }

    if(this.url){

      function parseVideo(url) {
        url.match(/(http:\/\/|https:\/\/|)(player.|www.)?(vimeo\.com|youtu(be\.com|\.be|be\.googleapis\.com))\/(video\/|embed\/|watch\?v=|v\/)?([A-Za-z0-9._%-]*)(\&\S+)?/);
        var type = null;
        if (RegExp.$3.indexOf('youtu') > -1) {
            type = 'youtube';
        } else if (RegExp.$3.indexOf('vimeo') > -1) {
            type = 'vimeo';
        }

        return {
            type: type,
            id: RegExp.$6
        };
      }

      var vdata = parseVideo(this.url);

      if (vdata.type == "youtube" || vdata.type == "vimeo"){ 
        this.tpurl = true
        this.vid = vdata.id
      } else {
        this.tpurl = false
        let filename = this.url.substring(this.url.lastIndexOf('/')+1);
        this.url = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '') + '/storage/solutions/'+ filename;
      }
    }

  },
  mounted() {
    this.reRender()
    if(this.question === this.question_hindi){
      this.isHindi = true
    }
  },
  methods : {
    reRender() {
      if(window.MathJax) {
        window.MathJax.Hub.Queue(["Typeset", window.MathJax.Hub]);
      }
    }
  },
  watch: {
    hindi(){
      this.reRender()
    }
  }
}
</script>
