<template>
  <layout title="Solution">
    
    <div class="bg-white rounded shadow overflow-hidden w-1/4 py-6" :class="visibileClass">
      <inertia-link class="block mb-6 text-sm text-blue px-4 leading-loose" :href="path('question-bank')">Back to Question Bank</inertia-link>
      <el-scrollbar wrap-class="scrolls px-4" view-class="view-box" :native="false">
      <el-collapse v-model="activeName" accordion>
        <el-collapse-item name="question">
          <template slot="title">Question</template>
          <div v-if="hindi">
            <p class="mb-6 text-lg leading-normal" v-html="question_hindi"></p>
            <p class="mb-5 font-medium">Options:</p>
            <ol class="block pl-4 mb-5">
              <li class="mb-3" v-for="(option, index) in options" :key="index" v-html="options_hindi[index]"></li>
            </ol>
            <p class="mb-5 font-medium">Answer:</p>
            <div v-if="Array.isArray(answerkey)" >
              <p class="mb-3" v-for="(a, i) in answerkey" :key="i" v-html="options_hindi[a]"></p>
            </div>
            <div v-else>
              <p class="mb-3" v-html="options_hindi[answerkey]"></p>
            </div>
          </div>
          <div v-else>
            <p class="mb-6 text-lg leading-normal" v-html="question"></p>
            <p class="mb-5 font-medium">Options:</p>
            <ol class="block pl-4 mb-5">
              <li class="mb-3" v-for="(option, index) in options" :key="index" v-html="options[index]"></li>
            </ol>
            <p class="mb-5 font-medium">Answer:</p>
            <div v-if="Array.isArray(answerkey)" >
              <p class="mb-3" v-for="(a, i) in answerkey" :key="i" v-html="options[a]"></p>
            </div>
            <div v-else>
              <p class="mb-3" v-html="options[answerkey]"></p>
            </div>
          </div>
        </el-collapse-item>
        <el-collapse-item name="solution">
          <template slot="title">Video Solution</template>
          <form @submit.prevent="submit"  class="block">
            <el-input v-if="isTPurl" placeholder="Please Add Video URL" v-model="url">
              <template slot="prepend">URL:</template>
            </el-input>
            <input v-else type="file" id="file" ref="file" @change="onFileChange"/>
        </form>
        </el-collapse-item>
      </el-collapse>
      <div class="px-0 py-4 flex justify-end items-center">
        <loading-button :loading="sending" class="btn-indigo" type="submit">Save</loading-button>
      </div>
      </el-scrollbar>
      <div class="switch-panel">
        <i class="el-icon-setting text-2xl cursor-pointer" @click="configVisible = true"></i>
      </div>
    </div>
    <div class="canvas" :class="mode">
      <div class="dummy">
        <div :class="textbased" class="bg-white p-6">
          <el-collapse accordion>
            <el-collapse-item name="1">
              <template slot="title">Explaination</template>
              <div>
              <div class="w-full">
                <CKEditor id="qeditor" v-model="form.explaination" height="600"></CKEditor>
              </div>
              </div>
            </el-collapse-item>
          </el-collapse>
        </div>
        <div class="p-6">
          <p class="mb-5 mt-2 font-medium">Draw Pad:</p>
          <CanvasDraw :width="1280" :height="2000" :brushSize="4" :outputName="'explains'"/>
        </div>
      </div>
    </div>

    <el-dialog title="Configuration" :visible.sync="configVisible" width="30%" center>
      
      <div class="configs inline-block w-full mt-4 px-4">
        <div class="block mb-5">
          <p class="mb-5 mt-6 font-medium">Show Hindi Version:</p>
          <el-switch v-model="hindi" active-text="Hide" inactive-text="Show"></el-switch>
        </div>

        <div class="block mb-5">
          <p class="mb-5 mt-6 font-medium">Has Third Party Video URL:</p>
          <el-switch v-model="isTPurl" active-text="Yes" inactive-text="No"></el-switch>
        </div>

        <div class="block mb-5">
          <p class="mb-5 mt-6 font-medium">Question Panel VIsibility:</p>
          <el-switch v-model="qvisible" active-text="Hide" inactive-text="Show"></el-switch>
        </div>
        <!-- <div class="block">
          <p class="mb-5 font-medium">Dark Mode:</p>
          <el-radio v-model="mode" label="dark">Enable</el-radio>
          <el-radio v-model="mode" label="light">Disable</el-radio>
        </div> -->
        <div class="block">
          <p class="mb-5 mt-6 font-medium">Text Based Solution:</p>
          <el-radio v-model="textbased" label="block">Enable</el-radio>
          <el-radio v-model="textbased" label="hidden">Disable</el-radio>
        </div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="configVisible = false">Close</el-button>
      </span>
    </el-dialog>

  </layout>
</template>

<script>
import _ from 'lodash'
import Layout from '@/Shared/Layout'
import LoadingButton from '@/Shared/LoadingButton'
import CKEditor from '@/Components/CKEditor';
import CanvasDraw from '@/Components/CanvasDraw';


export default {
  components: {
    Layout,
    LoadingButton,
    CKEditor,
    CanvasDraw
  },
  props: {
    qdata: Object,
    solution : Array
  },
  remember: 'form',
  data() {
    return {
        sol : null,
        url : null,
        hindi : false,
        isTPurl : true,
        configVisible : false,
        activeName : 'solution',
        mode : 'light',
        textbased: 'block',
        qvisible : true,
        sending: false,
        question: this.qdata.question,
        question_hindi: this.qdata.question_hindi,
        options : this.qdata.options,
        options_hindi : this.qdata.options_hindi,
        answerkey : this.qdata.answerkey,
        form :{
          explaination:'',
          explaination_hindi:'',
          name : this.qdata.question,
          name_hindi : this.qdata.question_hindi,
          question_id : this.qdata.id,
          file : null
        }
    }
  },
  mounted() {
    this.reRender();
  },
  computed : {
    visibileClass : function(){
      return this.qvisible ? ' ' : 'hidden';
    }
  },
  created(){
    if(this.solution[0]){
      this.sol = this.solution[0].id
      this.url = this.solution[0].url
      this.form.explaination = this.solution[0].explaination
    }
  },
  methods : {
    reRender() {
      if(window.MathJax) {
        window.MathJax.Hub.Queue(["Typeset", window.MathJax.Hub]);
      }
    },
    onFileChange(e){
        var files = e.target.files || e.dataTransfer.files
        this.form.file = files[0]
    },
    submit() {
      let formData = new FormData();
      formData.append('file', this.form.file);
      formData.append('url', this.url);
      formData.append('isTPurl', this.isTPurl);
      formData.append('name', this.form.name);
      formData.append('explaination', this.form.explaination);
      formData.append('explaination_hindi', this.form.explaination_hindi);
      formData.append('question_id', this.form.question_id);

      //console.log(this.isTPurl);

      this.sending = true
      this.$inertia.post(this.path('solution.store'), formData).then(() => this.sending = false)
    }
  },
}
</script>

<style>
  .scrolls{
    height: 78vh;
  }
  .Solution-wrapper {
      background: #151515;
      padding: 0;
      display: flex;
      max-height:calc( 100vh - 66px );
      overflow: hidden;
  }
  .Solution-wrapper > h1{
    display:none;
  }

  .Solution-wrapper > .rounded{
    display:block;
    max-width:400px;
    border-radius:0;
    height:100%;
    position: relative;
  }
  .Solution-wrapper > .rounded.hidden{
    display:none;
  }
  .Solution-wrapper .canvas{
    display:flex;
    width: 100%;
    overflow-y: scroll;
  }
  .Solution-wrapper .canvas.light{
    background: #fff;
    border-left: 1px solid #ccc
  }
  .Solution-wrapper .canvas .dummy{
    display: block;
    width: 100%;
    height: 200vh;
  }
  .switch-panel{
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
  }
</style>
