<template>
  <layout title="Students">
    <h1 class="mb-8 font-bold text-3xl">Students</h1>
    <div class="mb-6 flex justify-between items-center">
      <div></div>
      <div class="flex justify-end">
        <el-select v-model="form.package" style="margin-right: 20px;" placeholder="Packages" @change="search">
          <el-option v-for="item in packages" :key="item.wp_id" :label="item.name" :value="item.wp_id"></el-option>
        </el-select>
        <search-filter v-model="form.search" class="w-full max-w-xs" @reset="reset" @search="search"></search-filter>
      </div>
    </div>
    <div class="bg-white rounded shadow overflow-x-auto">
      <el-table :data="students.data" style="width: 100%">
        <el-table-column type="expand">
          <template slot-scope="props">
            <div class="block w-full mb-2 list-disc text-base pl-6 ml-8">
              <div class="block w-full mb-4" v-if="getPurchaseData(props.row.purchases).length > 0">
                <p class="font-bold mb-4">Packages Bought:</p>
                <el-tag type="primary" v-for="(d,i) in getPurchaseData(props.row.purchases)" :key="i" >{{d.name}}</el-tag>
              </div>
              <div class="block w-full">
                <p class="font-bold mb-4">Address:</p>
                <p>{{props.row.address}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column type="index" width="50"></el-table-column>
        <el-table-column label="Name" prop="name" sortable></el-table-column>
        <el-table-column label="Email" prop="email"></el-table-column>
        <el-table-column label="Phone" prop="phonenumber"></el-table-column>
        <el-table-column label="Joined" prop="joined" sortable></el-table-column>
      </el-table>
    </div>
    <pagination :links="students.links" />
  </layout>
</template>

<script>
import _ from 'lodash'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'

export default {
  components: {
    Icon,
    Layout,
    Pagination,
    SearchFilter,
  },
  props: {
    students: Object,
    filters: Object,
    packages: Array
  },
  data() {
    return {
      form: {
        search: this.filters.search,
        package : this.filters.package
      },
    }
  },
  mounted(){
    if(this.filters.package != null){
      this.form.package = parseInt(this.filters.package)
    }
  },
  computed:{
    
  },
  watch: {
    // form: {
    //   handler: _.throttle(function() {
    //     let query = _.pickBy(this.form)
    //     this.$inertia.replace(this.path('students', Object.keys(query).length ? query : { remember: 'forget' }))
    //   }, 150),
    //   deep: true,
    // },
  },
  methods: {
    getPurchaseData(data){
      let d = [];
      let $this = this;
      _.forEach(data, function(val) {
        let p = {};
        p.name = _.filter($this.packages, function(o) { 
          return val.package_id == o.wp_id
        }).map(a => a.name)[0];
        p.id = val.id;
        p.purchased_on = val.purchased_on;
        d.push(p);
      })
      return d;
    },
    reset() {
      this.form = _.mapValues(this.form, () => null)
      let query = _.pickBy(this.form)
      this.$inertia.visit(this.path('students', Object.keys(query).length ? query : { remember: 'forget' }))
    },
    search() {
      let query = _.pickBy(this.form)
      this.$inertia.visit(this.path('students', Object.keys(query).length ? query : { remember: 'forget' }))
    },
  },
}
</script>
